In [ ]:
!wget https://data.sba.gov/dataset/ppp-foia/resource/6b62a44b-69ec-436a-9b95-0ea550475543

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

Above from https://data.sba.gov/dataset/ppp-foia/resource/6b62a44b-69ec-436a-9b95-0ea550475543

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
%matplotlib inline

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

In [ ]:
!ls -alt

In [ ]:
df_all_high_SBA = pd.read_csv('public_150k_plus.csv')

In [ ]:
!diff public_150k_plus.csv public_150k_plus.csv.1

In [ ]:
a = df_all_high_SBA

In [ ]:
len(a)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_1.csv

In [ ]:
df_below_150_SBA_1 = pd.read_csv('public_up_to_150k_1.csv')

In [ ]:
b = df_below_150_SBA_1

In [ ]:
len(b)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_2.csv

In [ ]:
df_below_150_SBA_2 = pd.read_csv('public_up_to_150k_2.csv')

In [ ]:
c = df_below_150_SBA_2

In [ ]:
len(c)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_3.csv

In [ ]:
df_below_150_3_SBA = pd.read_csv('public_up_to_150k_3.csv')

In [ ]:
d = df_below_150_3_SBA

In [ ]:
len(d)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/864cd9cb-7797-42da-b991-68ac24fcab9a/download/public_up_to_150k_4.csv

In [ ]:
df_below_150_4_SBA = pd.read_csv('public_up_to_150k_4.csv')

In [ ]:
e = df_below_150_4_SBA

In [ ]:
len(e)

In [ ]:
!df -k

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/3032cb97-3a22-4ded-a0ca-69bdf54cdc32/download/public_up_to_150k_5.csv

In [ ]:
df_below_150_5_SBA = pd.read_csv('public_up_to_150k_5.csv')

In [ ]:
f = df_below_150_5_SBA

In [ ]:
len(f)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/8fd56c55-8ad6-491e-a219-441c50471e4d/download/public_up_to_150k_6.csv

In [ ]:
df_below_150_6_SBA = pd.read_csv('public_up_to_150k_6.csv')

In [ ]:
g = df_below_150_6_SBA

In [ ]:
len(g)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/7fd17fde-42a9-4a5a-8be9-dfbc6703e5f3/download/public_up_to_150k_7.csv

In [ ]:
df_below_150_7_SBA = pd.read_csv('public_up_to_150k_7.csv')

In [ ]:
h = df_below_150_7_SBA

In [ ]:
len(h)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/c0c87f18-333a-43e8-843e-7c1e27b18317/download/public_up_to_150k_8.csv

In [ ]:
df_below_150_8_SBA = pd.read_csv('public_up_to_150k_8.csv')

In [ ]:
i = df_below_150_8_SBA

In [ ]:
len(i)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_9.csv

In [ ]:
df_below_150_9_SBA = pd.read_csv('public_up_to_150k_9.csv')

In [ ]:
j = df_below_150_9_SBA

In [ ]:
len(j)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_10.csv

In [ ]:
df_below_150_10_SBA = pd.read_csv('public_up_to_150k_10.csv')

In [ ]:
k = df_below_150_10_SBA

In [ ]:
len(k)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_11.csv

In [ ]:
df_below_150_11_SBA = pd.read_csv('public_up_to_150k_11.csv')

In [ ]:
l = df_below_150_11_SBA

In [ ]:
len(l)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_12.csv

In [ ]:
df_below_150_12_SBA = pd.read_csv('public_up_to_150k_12.csv')

In [ ]:
m = df_below_150_12_SBA

In [ ]:
len(m)

In [ ]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_13.csv

In [ ]:
df_below_150_13_SBA = pd.read_csv('public_up_to_150k_13.csv')

In [ ]:
n = df_below_150_13_SBA

In [ ]:
len(n)

In [ ]:
xxxx=zzzzzz

In [ ]:
dir()

In [ ]:
!df -k

In [ ]:
!ls -alt

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
len(b)

In [ ]:
result = a.append([b])

In [ ]:
len(result)

In [ ]:
print(a.shape)

In [ ]:
print(result.shape)

In [ ]:
result = result.append([c])

In [ ]:
len(result)

In [ ]:
result = result.append([d])

In [ ]:
result = result.append([e])

In [ ]:
result = result.append([f])

In [ ]:
result = result.append([g])

In [ ]:
result = result.append([h])

In [ ]:
result = result.append([i])

In [ ]:
result = result.append([j])

In [ ]:
result = result.append([k])

In [ ]:
result = result.append([l])

In [ ]:
result = result.append([m])

In [ ]:
result = result.append([n])

In [ ]:
result.shape

In [ ]:
result.info()

In [ ]:
!df -k

In [1]:
import pickle

In [2]:
with open('6_Jun_21_Combined_PPP.pkl', 'rb') as ifile:
    result = pickle.load(ifile)

In [3]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12664361 entries, 0 to 899999
Data columns (total 51 columns):
 #   Column                       Dtype
---  ------                       -----
 0   LoanNumber                   int64
 1   DateApproved                 object
 2   SBAOfficeCode                int64
 3   ProcessingMethod             object
 4   BorrowerName                 object
 5   BorrowerAddress              object
 6   BorrowerCity                 object
 7   BorrowerState                object
 8   BorrowerZip                  object
 9   LoanStatusDate               object
 10  LoanStatus                   object
 11  Term                         int64
 12  SBAGuarantyPercentage        int64
 13  InitialApprovalAmount        float64
 14  CurrentApprovalAmount        float64
 15  UndisbursedAmount            float64
 16  FranchiseName                object
 17  ServicingLenderLocationID    int64
 18  ServicingLenderName          object
 19  ServicingLenderAddress       object
 20  ServicingLenderCity          object
 21  ServicingLenderState         object
 22  ServicingLenderZip           object
 23  RuralUrbanIndicator          object
 24  HubzoneIndicator             object
 25  LMIIndicator                 object
 26  BusinessAgeDescription       object
 27  ProjectCity                  object
 28  ProjectCountyName            object
 29  ProjectState                 object
 30  ProjectZip                   object
 31  CD                           object
 32  JobsReported                 float64
 33  NAICSCode                    float64
 34  Race                         object
 35  Ethnicity                    object
 36  UTILITIES_PROCEED            float64
 37  PAYROLL_PROCEED              float64
 38  MORTGAGE_INTEREST_PROCEED    float64
 39  RENT_PROCEED                 float64
 40  REFINANCE_EIDL_PROCEED       float64
 41  HEALTH_CARE_PROCEED          float64
 42  DEBT_INTEREST_PROCEED        float64
 43  BusinessType                 object
 44  OriginatingLenderLocationID  int64
 45  OriginatingLender            object
 46  OriginatingLenderCity        object
 47  OriginatingLenderState       object
 48  Gender                       object
 49  Veteran                      object
 50  NonProfit                    object
dtypes: float64(12), int64(6), object(33)
memory usage: 4.9+ GB

In [ ]:
xxxxxx

In [32]:
result[(result['BorrowerCity'].str.contains('antonio', case = False, na= False)) & (result['BorrowerName'].str.contains(r'MUY ', case = False, na = False))][['BorrowerName','CurrentApprovalAmount', 'BorrowerAddress','BorrowerCity']]

,BorrowerName,CurrentApprovalAmount,BorrowerAddress,BorrowerCity
807145,"MUY HAMBURGER PARTNERS, LLC",10000000.0,17890 Blanco Rd - Suite 401,SAN ANTONIO
807151,"MUY PIZZA TEJAS, LLC",10000000.0,17890 BLANCO RD STE 401,SAN ANTONIO
807193,"MUY BRANDS, LLC",8655100.0,17890 BLANCO RD Suite 401,SAN ANTONIO
807942,"MUY PIZZA MINNESOTA, LLC",3550800.0,17890 Blanco Road Suite 401,SAN ANTONIO
814762,MUY CONSULTING CORPORATION,1060500.0,17890 Blanco Rd Suite 401,SAN ANTONIO

In [33]:
result[(result['BorrowerCity'].str.contains('antonio', case = False, na= False)) & (result['BorrowerName'].str.contains(r'MUY ', case = False, na = False))]['CurrentApprovalAmount'].sum()

33266400.0

In [37]:
result[result['BorrowerCity'].str.contains('antonio', case = False, na= False)]['BorrowerAddress'].value_counts()[:10]

2161 NW Military Hwy Ste 300    26
5815 CALLAGHAN RD SUITE 100      9
10010 SAN PEDRO AVE              8
10010 San Pedro Ave Ste 650      7
12542 Curley St                  6
325 E Sonterra Blvd Ste 240      6
31131 Pasco Rd                   6
10910 Curley Rd                  6
1723 N Loop 1604 E Ste 211       6
1277 NE Loop 410                 6
Name: BorrowerAddress, dtype: int64

In [47]:
result[(result['BorrowerCity'].str.contains('antonio', case = False, na= False)) & (result['BorrowerAddress'] == r'2161 NW Military Hwy Ste 300')][['BorrowerName', 'CurrentApprovalAmount', 'BorrowerAddress', 'BorrowerCity', 'OriginatingLender', 'DateApproved','LoanNumber']].sort_values('BorrowerName')

,BorrowerName,CurrentApprovalAmount,BorrowerAddress,BorrowerCity,OriginatingLender,DateApproved,LoanNumber
856802,DAMARAYA LP,227943.20,2161 NW Military Hwy Ste 300,San Antonio,City Bank,02/05/2021,3852318407
851573,DARA LP,252596.29,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2855928305
867746,DARAMAYA LP,187861.07,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2883098302
855873,DARAYAMA LP,232042.82,2161 NW Military Hwy Ste 300,San Antonio,City Bank,03/10/2021,9022058508
853834,DAYARADA INC,241821.86,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3145958303
874193,KAMA LP,169669.82,2161 NW Military Hwy Ste 300,San Antonio,City Bank,02/05/2021,3626368402
839908,KAMARAYA LP,333462.89,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2627588308
852646,MADARADA INC,247813.30,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3130718309
879018,MARA MARA INC,157770.02,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2801618300
875177,MARADAYA LP,167047.30,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2854078308
864881,MARAKAYA LP,197372.49,2161 NW Military Hwy Ste 300,San Antonio,City Bank,02/01/2021,1417638405
853008,MARAYA LP,245957.50,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3174018302
845753,MAYA MAYA INC,287987.74,2161 NW Military Hwy Ste 300,San Antonio,City Bank,03/10/2021,8870198502
839063,R HAKIM CORP,341657.05,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/22/2021,3695998309
854318,RADA RADA INC,239470.49,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3005568302
847386,RAMAKAYA LP,276642.55,2161 NW Military Hwy Ste 300,San Antonio,City Bank,02/05/2021,4058618400
859946,RAMAMARA LP,215024.67,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2705048306
844265,RAYA LP,298914.46,2161 NW Military Hwy Ste 300,San Antonio,City Bank,02/05/2021,3546258404
848711,RIVER RAMA INC,268998.17,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3239058305
868980,YADARADA INC,184231.32,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2745568303
851282,YAM YAM LP,254049.43,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2612788306
852374,YAMA LP,249347.49,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2624208304
857321,YAMADARA LP,225481.83,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3075308300
859026,YAMADAYA LP,218916.35,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3308778303
852320,YAMAKARA LP,249665.64,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,2913168301
841519,YARA LP,320017.81,2161 NW Military Hwy Ste 300,San Antonio,City Bank,01/21/2021,3027298305

In [45]:
result[(result['BorrowerCity'].str.contains('antonio', case = False, na= False)) & (result['BorrowerAddress'] == r'2161 NW Military Hwy Ste 300')]['CurrentApprovalAmount'].sum()

6291763.56

In [60]:
result[result['BorrowerName'].str.contains('ramakaya', case= False,na = False)]

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
847386,4058618400,02/05/2021,681,PPS,RAMAKAYA LP,2161 NW Military Hwy Ste 300,San Antonio,TX,78213-1844,NaN,...,NaN,NaN,Partnership,71330,City Bank,LUBBOCK,TX,Male Owned,Unanswered,NaN
867827,9183017109,04/15/2020,681,PPP,RAMAKAYA LP,817 N INTERSTATE 35,NEW BRAUNFELS,TX,78130-3780,NaN,...,NaN,NaN,Partnership,71330,City Bank,LUBBOCK,TX,Male Owned,Unanswered,NaN

In [57]:
result[(result['BorrowerCity'].str.contains('schertz', case = False, na= False)) & (result['BorrowerAddress'].str.contains('17220 INTERSTATE 35'))]

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
881912,1047667202,04/15/2020,681,PPP,YAMADARA LP,17220 INTERSTATE 35 N,SCHERTZ,TX,78154-1293,NaN,...,NaN,NaN,Partnership,71330,City Bank,LUBBOCK,TX,Male Owned,Unanswered,NaN

In [69]:
aaa = result[(result['BorrowerCity'].str.contains('antonio', case = False, na= False)) & (result['BorrowerAddress'] == r'2161 NW Military Hwy Ste 300')][['BorrowerName']]

In [117]:
aaa.iloc[:,[0]]

          BorrowerName
839063    R HAKIM CORP
839908     KAMARAYA LP
841519         YARA LP
844265         RAYA LP
845753   MAYA MAYA INC
847386     RAMAKAYA LP
848711  RIVER RAMA INC
851282      YAM YAM LP
851573         DARA LP
852320     YAMAKARA LP
852374         YAMA LP
852646    MADARADA INC
853008       MARAYA LP
853834    DAYARADA INC
854318   RADA RADA INC
855873     DARAYAMA LP
856802     DAMARAYA LP
857321     YAMADARA LP
859026     YAMADAYA LP
859946     RAMAMARA LP
864881     MARAKAYA LP
867746     DARAMAYA LP
868980    YADARADA INC
874193         KAMA LP
875177     MARADAYA LP
879018   MARA MARA INC

In [118]:
aaa.set_index('BorrowerName', inplace = True)

In [127]:
type(aaa)

pandas.core.frame.DataFrame

In [150]:
for x in aaa.index:
    print(x)

R HAKIM CORP
KAMARAYA LP
YARA LP
RAYA LP
MAYA MAYA INC
RAMAKAYA LP
RIVER RAMA INC
YAM YAM LP
DARA LP
YAMAKARA LP
YAMA LP
MADARADA INC
MARAYA LP
DAYARADA INC
RADA RADA INC
DARAYAMA LP
DAMARAYA LP
YAMADARA LP
YAMADAYA LP
RAMAMARA LP
MARAKAYA LP
DARAMAYA LP
YADARADA INC
KAMA LP
MARADAYA LP
MARA MARA INC

In [68]:
aaa

BorrowerName
DAMARAYA LP       1
DARA LP           1
YAMAKARA LP       1
YAMADAYA LP       1
YAMADARA LP       1
YAMA LP           1
YAM YAM LP        1
YADARADA INC      1
RIVER RAMA INC    1
RAYA LP           1
RAMAMARA LP       1
RAMAKAYA LP       1
RADA RADA INC     1
R HAKIM CORP      1
MAYA MAYA INC     1
MARAYA LP         1
MARAKAYA LP       1
MARADAYA LP       1
MARA MARA INC     1
MADARADA INC      1
KAMARAYA LP       1
KAMA LP           1
DAYARADA INC      1
DARAYAMA LP       1
DARAMAYA LP       1
YARA LP           1
dtype: int64

In [ ]:
xxxx=stop_here

In [ ]:
type(a.DateApproved)

In [ ]:
pd.to_datetime(a.DateApproved[0])

In [ ]:
a.loc[:, 'DateApproved_datetime'] = pd.to_datetime(a['DateApproved'])

In [ ]:
a.info()

In [ ]:
a.tail()

In [ ]:
print(set(a.DateApproved_datetime.dt.month))

In [ ]:
a.columns

In [ ]:
a.dtypes

In [ ]:
a.info()

In [17]:
pd.set_option('display.max_columns', None)

In [18]:
pd.set_option('display.max_rows', None)

In [16]:
import pandas as pd

In [ ]:
a.head()

In [ ]:
a[a.DateApproved_datetime <'2020-05-01T00:00:00.000000000']

In [ ]:
a['CD']

In [ ]:
a['CD'].iloc[6]

In [ ]:
a.head()

In [ ]:
a

In [ ]:
z = pd.read_csv('public_150k_plus.csv', index_col='LoanNumber')

In [ ]:
z

In [ ]:
z.dtypes

In [ ]:
z.head()

In [ ]:
z.tail(11)

In [ ]:
z.columns

In [ ]:
a.columns

In [ ]:
z.index

In [ ]:
a.index

In [ ]:
a.describe()

In [ ]:
z.describe()

In [ ]:
a[:5]

In [ ]:
z[0:5]

In [ ]:
z.head()

In [ ]:
a

In [ ]:
a[a.BorrowerState == 'TX'].count()

In [ ]:
a.loc[791524]

In [ ]:
a.iloc[791524,2]

In [ ]:
a[a.BorrowerAddress == '3400 N. Central Expressway Suite 110-243']

In [ ]:
a[a.BorrowerName == r'SWH MIMIS CAFE LLC']

In [ ]:
a.loc[791578]

In [ ]:
a.shape

In [ ]:
a.columns

In [ ]:
a.count()

In [ ]:
a.BorrowerZip.describe()

In [ ]:
a.last_valid_index()

In [ ]:
z.last_valid_index()

In [ ]:
a.iloc[945919]

In [ ]:
a.iloc[:3]

In [ ]:
z.loc[9547507704]

In [ ]:
z.iloc[945918]

In [ ]:
pd.show_versions()

In [ ]:
a.loc[5, ['DateApproved', 'ProcessingMethod']]

In [ ]:
a.iloc[5, [1,3]]

In [ ]:
!uptime

In [ ]:
a.iloc[range(0,2),[1,2,4]]

In [ ]:
a.loc[range(0,2), ['DateApproved', 'SBAOfficeCode', 'BorrowerName']]

In [ ]:
a.iloc[1:3,:]

In [ ]:
a.iloc[0:2]

In [ ]:
a.groupby('BorrowerState')['DateApproved'].count()

In [ ]:
a['BorrowerState'].describe()

In [ ]:
a['BorrowerState'].unique()

In [ ]:
a.iloc[a['BorrowerState' == 'TX']]

In [ ]:
a.tail(1)

In [ ]:
z.tail(1)

In [ ]:
a.iloc[-1]

In [ ]:
a.loc[1,'DateApproved']

In [ ]:
a.groupby('BorrowerZip')['BorrowerName'].count()

In [ ]:
a.groupby('BorrowerZip')['BorrowerName'].nunique()

In [ ]:
a.groupby('BorrowerZip').nunique()

In [ ]:
a.T.head()

In [ ]:
b.count()

In [ ]:
900000 - 899872

In [ ]:
b_missing_dropped = b.dropna()

In [ ]:
b.shape

In [ ]:
b_missing_dropped.shape

In [ ]:
a.describe()

In [ ]:
!uptime