In [1]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

Above from https://data.sba.gov/dataset/ppp-foia/resource/6b62a44b-69ec-436a-9b95-0ea550475543

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
%matplotlib inline

In [3]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

In [4]:
!ls -alt

total 4130820
drwxrwxr-x 4 ec2-user ec2-user      4096 Apr 27 21:53 .
-rw-rw-r-- 1 ec2-user ec2-user     23804 Apr 27 21:53 Updating_On_AWS.ipynb
drwxrwxr-x 8 ec2-user ec2-user       185 Apr 26 19:18 .git
drwxrwxr-x 2 ec2-user ec2-user        46 Apr 25 17:00 .ipynb_checkpoints
-rw-rw-r-- 1 ec2-user ec2-user    127633 Apr 25 16:57 Dec_2020_PPP_Work.ipynb
-rw-rw-r-- 1 ec2-user ec2-user     53812 Apr 25 16:57 InitialReview.ipynb
-rw-rw-r-- 1 ec2-user ec2-user      1064 Apr 25 16:57 LICENSE
-rw-rw-r-- 1 ec2-user ec2-user        82 Apr 25 16:57 README.md
drwxrwxr-x 9 ec2-user ec2-user       138 Apr 25 16:57 ..
-rw-rw-r-- 1 ec2-user ec2-user 387730501 Apr 13 19:44 public_up_to_150k_8.csv
-rw-rw-r-- 1 ec2-user ec2-user 388538904 Apr 13 19:44 public_up_to_150k_6.csv
-rw-rw-r-- 1 ec2-user ec2-user 388538904 Apr 13 19:44 public_up_to_150k_6.csv.1
-rw-rw-r-- 1 ec2-user ec2-user 386382997 Apr 13 19:44 public_up_to_150k_7.csv
-rw-rw-r-- 1 ec2-user ec2-user 385289328 Apr 13 19:44 public_up_to_150k_5.csv
-rw-rw-r-- 1 ec2-user ec2-user 386103013 Apr 13 19:44 public_up_to_150k_4.csv
-rw-rw-r-- 1 ec2-user ec2-user 385650378 Apr 13 19:43 public_up_to_150k_3.csv
-rw-rw-r-- 1 ec2-user ec2-user 391561150 Apr 13 19:43 public_up_to_150k_2.csv
-rw-rw-r-- 1 ec2-user ec2-user 392449452 Apr 13 19:43 public_up_to_150k_1.csv
-rw-rw-r-- 1 ec2-user ec2-user 320487838 Apr 13 19:42 public_up_to_150k_9.csv
-rw-rw-r-- 1 ec2-user ec2-user 416982842 Apr 13 19:41 public_150k_plus.csv

In [5]:
df_all_high_SBA = pd.read_csv('public_150k_plus.csv')

In [6]:
a = df_all_high_SBA

In [7]:
len(a)

945920

In [8]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/3d28c417-5170-4f1f-be31-b0c7b0182501/download/public_up_to_150k_1.csv

In [9]:
df_below_150_1_SBA = pd.read_csv('public_up_to_150k_1.csv')

In [10]:
b = df_below_150_1_SBA

In [11]:
len(b)

900000

In [12]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/4a2529a5-08ce-436d-a448-465ca82eadaf/download/public_up_to_150k_2.csv

In [13]:
df_below_150_2_SBA = pd.read_csv('public_up_to_150k_2.csv')

In [14]:
c = df_below_150_2_SBA

In [15]:
len(c)

900000

In [16]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_3.csv

In [17]:
df_below_150_3_SBA = pd.read_csv('public_up_to_150k_3.csv')

In [18]:
d = df_below_150_3_SBA

In [19]:
len(d)

900000

In [20]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/864cd9cb-7797-42da-b991-68ac24fcab9a/download/public_up_to_150k_4.csv

In [21]:
df_below_150_4_SBA = pd.read_csv('public_up_to_150k_4.csv')

In [22]:
e = df_below_150_4_SBA

In [23]:
len(e)

900000

In [24]:
!df -k

Filesystem     1K-blocks    Used Available Use% Mounted on
devtmpfs         4072376       0   4072376   0% /dev
tmpfs            4083144       0   4083144   0% /dev/shm
tmpfs            4083144     408   4082736   1% /run
tmpfs            4083144       0   4083144   0% /sys/fs/cgroup
/dev/xvda1      52416492 6491024  45925468  13% /
tmpfs             816632       0    816632   0% /run/user/1000

In [25]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/3032cb97-3a22-4ded-a0ca-69bdf54cdc32/download/public_up_to_150k_5.csv

In [26]:
df_below_150_5_SBA = pd.read_csv('public_up_to_150k_5.csv')

In [27]:
f = df_below_150_5_SBA

In [28]:
len(f)

900000

In [29]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/8fd56c55-8ad6-491e-a219-441c50471e4d/download/public_up_to_150k_6.csv

In [30]:
df_below_150_6_SBA = pd.read_csv('public_up_to_150k_6.csv')

In [31]:
g = df_below_150_6_SBA

In [32]:
len(g)

900000

In [33]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/7fd17fde-42a9-4a5a-8be9-dfbc6703e5f3/download/public_up_to_150k_7.csv

In [34]:
df_below_150_7_SBA = pd.read_csv('public_up_to_150k_7.csv')

In [35]:
h = df_below_150_7_SBA

In [36]:
len(h)

900000

In [37]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/c0c87f18-333a-43e8-843e-7c1e27b18317/download/public_up_to_150k_8.csv

In [38]:
df_below_150_8_SBA = pd.read_csv('public_up_to_150k_8.csv')

In [39]:
i = df_below_150_8_SBA

In [40]:
len(i)

900000

In [41]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_9.csv

In [42]:
df_below_150_9_SBA = pd.read_csv('public_up_to_150k_9.csv')

In [43]:
j = df_below_150_9_SBA

In [44]:
len(j)

748171

In [45]:
!df -k

Filesystem     1K-blocks    Used Available Use% Mounted on
devtmpfs         4072376       0   4072376   0% /dev
tmpfs            4083144       0   4083144   0% /dev/shm
tmpfs            4083144     408   4082736   1% /run
tmpfs            4083144       0   4083144   0% /sys/fs/cgroup
/dev/xvda1      52416492 6491028  45925464  13% /
tmpfs             816632       0    816632   0% /run/user/1000

In [46]:
!ls -alt

total 4130820
drwxrwxr-x 4 ec2-user ec2-user      4096 Apr 27 21:53 .
-rw-rw-r-- 1 ec2-user ec2-user     23804 Apr 27 21:53 Updating_On_AWS.ipynb
drwxrwxr-x 8 ec2-user ec2-user       185 Apr 26 19:18 .git
drwxrwxr-x 2 ec2-user ec2-user        46 Apr 25 17:00 .ipynb_checkpoints
-rw-rw-r-- 1 ec2-user ec2-user    127633 Apr 25 16:57 Dec_2020_PPP_Work.ipynb
-rw-rw-r-- 1 ec2-user ec2-user     53812 Apr 25 16:57 InitialReview.ipynb
-rw-rw-r-- 1 ec2-user ec2-user      1064 Apr 25 16:57 LICENSE
-rw-rw-r-- 1 ec2-user ec2-user        82 Apr 25 16:57 README.md
drwxrwxr-x 9 ec2-user ec2-user       138 Apr 25 16:57 ..
-rw-rw-r-- 1 ec2-user ec2-user 387730501 Apr 13 19:44 public_up_to_150k_8.csv
-rw-rw-r-- 1 ec2-user ec2-user 388538904 Apr 13 19:44 public_up_to_150k_6.csv
-rw-rw-r-- 1 ec2-user ec2-user 388538904 Apr 13 19:44 public_up_to_150k_6.csv.1
-rw-rw-r-- 1 ec2-user ec2-user 386382997 Apr 13 19:44 public_up_to_150k_7.csv
-rw-rw-r-- 1 ec2-user ec2-user 385289328 Apr 13 19:44 public_up_to_150k_5.csv
-rw-rw-r-- 1 ec2-user ec2-user 386103013 Apr 13 19:44 public_up_to_150k_4.csv
-rw-rw-r-- 1 ec2-user ec2-user 385650378 Apr 13 19:43 public_up_to_150k_3.csv
-rw-rw-r-- 1 ec2-user ec2-user 391561150 Apr 13 19:43 public_up_to_150k_2.csv
-rw-rw-r-- 1 ec2-user ec2-user 392449452 Apr 13 19:43 public_up_to_150k_1.csv
-rw-rw-r-- 1 ec2-user ec2-user 320487838 Apr 13 19:42 public_up_to_150k_9.csv
-rw-rw-r-- 1 ec2-user ec2-user 416982842 Apr 13 19:41 public_150k_plus.csv

In [47]:
type(a)

pandas.core.frame.DataFrame

In [48]:
len(a)

945920

In [49]:
result = a.append([b])

In [50]:
len(result)

1845920

In [51]:
print(a.shape)

(945920, 51)

In [52]:
print(result.shape)

(1845920, 51)

In [53]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945920 entries, 0 to 945919
Data columns (total 51 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   LoanNumber                   945920 non-null  int64
 1   DateApproved                 945920 non-null  object
 2   SBAOfficeCode                945920 non-null  int64
 3   ProcessingMethod             945920 non-null  object
 4   BorrowerName                 945917 non-null  object
 5   BorrowerAddress              945905 non-null  object
 6   BorrowerCity                 945907 non-null  object
 7   BorrowerState                945906 non-null  object
 8   BorrowerZip                  945906 non-null  object
 9   LoanStatusDate               292555 non-null  object
 10  LoanStatus                   945920 non-null  object
 11  Term                         945920 non-null  int64
 12  SBAGuarantyPercentage        945920 non-null  int64
 13  InitialApprovalAmount        945920 non-null  float64
 14  CurrentApprovalAmount        945920 non-null  float64
 15  UndisbursedAmount            945074 non-null  float64
 16  FranchiseName                34235 non-null   object
 17  ServicingLenderLocationID    945920 non-null  int64
 18  ServicingLenderName          945920 non-null  object
 19  ServicingLenderAddress       945920 non-null  object
 20  ServicingLenderCity          945920 non-null  object
 21  ServicingLenderState         945920 non-null  object
 22  ServicingLenderZip           945920 non-null  object
 23  RuralUrbanIndicator          945920 non-null  object
 24  HubzoneIndicator             945920 non-null  object
 25  LMIIndicator                 945920 non-null  object
 26  BusinessAgeDescription       945920 non-null  object
 27  ProjectCity                  945907 non-null  object
 28  ProjectCountyName            945863 non-null  object
 29  ProjectState                 945911 non-null  object
 30  ProjectZip                   945906 non-null  object
 31  CD                           945871 non-null  object
 32  JobsReported                 945919 non-null  float64
 33  NAICSCode                    939273 non-null  float64
 34  Race                         945920 non-null  object
 35  Ethnicity                    945920 non-null  object
 36  UTILITIES_PROCEED            324741 non-null  float64
 37  PAYROLL_PROCEED              944093 non-null  float64
 38  MORTGAGE_INTEREST_PROCEED    46493 non-null   float64
 39  RENT_PROCEED                 99665 non-null   float64
 40  REFINANCE_EIDL_PROCEED       23270 non-null   float64
 41  HEALTH_CARE_PROCEED          57581 non-null   float64
 42  DEBT_INTEREST_PROCEED        31993 non-null   float64
 43  BusinessType                 945125 non-null  object
 44  OriginatingLenderLocationID  945920 non-null  int64
 45  OriginatingLender            945920 non-null  object
 46  OriginatingLenderCity        945920 non-null  object
 47  OriginatingLenderState       945920 non-null  object
 48  Gender                       945920 non-null  object
 49  Veteran                      945920 non-null  object
 50  NonProfit                    55677 non-null   object
dtypes: float64(12), int64(6), object(33)
memory usage: 368.1+ MB

In [55]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1845920 entries, 0 to 899999
Data columns (total 51 columns):
 #   Column                       Dtype
---  ------                       -----
 0   LoanNumber                   int64
 1   DateApproved                 object
 2   SBAOfficeCode                float64
 3   ProcessingMethod             object
 4   BorrowerName                 object
 5   BorrowerAddress              object
 6   BorrowerCity                 object
 7   BorrowerState                object
 8   BorrowerZip                  object
 9   LoanStatusDate               object
 10  LoanStatus                   object
 11  Term                         int64
 12  SBAGuarantyPercentage        int64
 13  InitialApprovalAmount        float64
 14  CurrentApprovalAmount        float64
 15  UndisbursedAmount            float64
 16  FranchiseName                object
 17  ServicingLenderLocationID    float64
 18  ServicingLenderName          object
 19  ServicingLenderAddress       object
 20  ServicingLenderCity          object
 21  ServicingLenderState         object
 22  ServicingLenderZip           object
 23  RuralUrbanIndicator          object
 24  HubzoneIndicator             object
 25  LMIIndicator                 object
 26  BusinessAgeDescription       object
 27  ProjectCity                  object
 28  ProjectCountyName            object
 29  ProjectState                 object
 30  ProjectZip                   object
 31  CD                           object
 32  JobsReported                 float64
 33  NAICSCode                    float64
 34  Race                         object
 35  Ethnicity                    object
 36  UTILITIES_PROCEED            float64
 37  PAYROLL_PROCEED              float64
 38  MORTGAGE_INTEREST_PROCEED    float64
 39  RENT_PROCEED                 float64
 40  REFINANCE_EIDL_PROCEED       float64
 41  HEALTH_CARE_PROCEED          float64
 42  DEBT_INTEREST_PROCEED        float64
 43  BusinessType                 object
 44  OriginatingLenderLocationID  float64
 45  OriginatingLender            object
 46  OriginatingLenderCity        object
 47  OriginatingLenderState       object
 48  Gender                       object
 49  Veteran                      object
 50  NonProfit                    object
dtypes: float64(15), int64(3), object(33)
memory usage: 732.3+ MB

In [57]:
a.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit'],
      dtype='object')

In [59]:
a.dtypes

LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                     object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                   float64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
dtype: object

In [60]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945920 entries, 0 to 945919
Data columns (total 51 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   LoanNumber                   945920 non-null  int64
 1   DateApproved                 945920 non-null  object
 2   SBAOfficeCode                945920 non-null  int64
 3   ProcessingMethod             945920 non-null  object
 4   BorrowerName                 945917 non-null  object
 5   BorrowerAddress              945905 non-null  object
 6   BorrowerCity                 945907 non-null  object
 7   BorrowerState                945906 non-null  object
 8   BorrowerZip                  945906 non-null  object
 9   LoanStatusDate               292555 non-null  object
 10  LoanStatus                   945920 non-null  object
 11  Term                         945920 non-null  int64
 12  SBAGuarantyPercentage        945920 non-null  int64
 13  InitialApprovalAmount        945920 non-null  float64
 14  CurrentApprovalAmount        945920 non-null  float64
 15  UndisbursedAmount            945074 non-null  float64
 16  FranchiseName                34235 non-null   object
 17  ServicingLenderLocationID    945920 non-null  int64
 18  ServicingLenderName          945920 non-null  object
 19  ServicingLenderAddress       945920 non-null  object
 20  ServicingLenderCity          945920 non-null  object
 21  ServicingLenderState         945920 non-null  object
 22  ServicingLenderZip           945920 non-null  object
 23  RuralUrbanIndicator          945920 non-null  object
 24  HubzoneIndicator             945920 non-null  object
 25  LMIIndicator                 945920 non-null  object
 26  BusinessAgeDescription       945920 non-null  object
 27  ProjectCity                  945907 non-null  object
 28  ProjectCountyName            945863 non-null  object
 29  ProjectState                 945911 non-null  object
 30  ProjectZip                   945906 non-null  object
 31  CD                           945871 non-null  object
 32  JobsReported                 945919 non-null  float64
 33  NAICSCode                    939273 non-null  float64
 34  Race                         945920 non-null  object
 35  Ethnicity                    945920 non-null  object
 36  UTILITIES_PROCEED            324741 non-null  float64
 37  PAYROLL_PROCEED              944093 non-null  float64
 38  MORTGAGE_INTEREST_PROCEED    46493 non-null   float64
 39  RENT_PROCEED                 99665 non-null   float64
 40  REFINANCE_EIDL_PROCEED       23270 non-null   float64
 41  HEALTH_CARE_PROCEED          57581 non-null   float64
 42  DEBT_INTEREST_PROCEED        31993 non-null   float64
 43  BusinessType                 945125 non-null  object
 44  OriginatingLenderLocationID  945920 non-null  int64
 45  OriginatingLender            945920 non-null  object
 46  OriginatingLenderCity        945920 non-null  object
 47  OriginatingLenderState       945920 non-null  object
 48  Gender                       945920 non-null  object
 49  Veteran                      945920 non-null  object
 50  NonProfit                    55677 non-null   object
dtypes: float64(12), int64(6), object(33)
memory usage: 368.1+ MB

In [61]:
a['CD']

0         SC-05
1         SC-06
2         WA-07
3         CA-08
4           NaN
          ...
945915      WY-
945916      WY-
945917      WY-
945918      WY-
945919      WY-
Name: CD, Length: 945920, dtype: object

In [67]:
a['CD'].iloc[6]

'FL-04'

In [68]:
a.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,NaN,NaN,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,NaN,...,NaN,NaN,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,NaN,NaN,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,NaN,...,NaN,NaN,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN