In [1]:
!wget https://data.sba.gov/dataset/ppp-foia/resource/6b62a44b-69ec-436a-9b95-0ea550475543

--2021-06-06 14:22:07--  https://data.sba.gov/dataset/ppp-foia/resource/6b62a44b-69ec-436a-9b95-0ea550475543
Resolving data.sba.gov (data.sba.gov)... 99.86.100.14, 99.86.100.20, 99.86.100.4, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.14|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17084 (17K) [text/html]
Saving to: ‘6b62a44b-69ec-436a-9b95-0ea550475543.1’

6b62a44b-69ec-436a- 100%[===================>]  16.68K  --.-KB/s    in 0.03s

2021-06-06 14:22:07 (554 KB/s) - ‘6b62a44b-69ec-436a-9b95-0ea550475543.1’ saved [17084/17084]

In [2]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

--2021-06-06 14:22:08--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.62, 99.86.100.4, 99.86.100.20, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.62|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 424917164 (405M) [text/csv]
Saving to: ‘public_150k_plus.csv’

public_150k_plus.cs 100%[===================>] 405.23M  14.2MB/s    in 31s

2021-06-06 14:22:39 (13.2 MB/s) - ‘public_150k_plus.csv’ saved [424917164/424917164]

Above from https://data.sba.gov/dataset/ppp-foia/resource/6b62a44b-69ec-436a-9b95-0ea550475543

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
%matplotlib inline

In [4]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

--2021-06-06 14:22:42--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.14, 99.86.100.62, 99.86.100.4, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.14|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 424917164 (405M) [text/csv]
Saving to: ‘public_150k_plus.csv.1’

public_150k_plus.cs 100%[===================>] 405.23M  13.5MB/s    in 31s

2021-06-06 14:23:13 (13.1 MB/s) - ‘public_150k_plus.csv.1’ saved [424917164/424917164]

In [5]:
!ls -alt

total 830232
drwxr-xr-x 1 ldhagen ldhagen      4096 Jun  6 14:22 .
-rw-r--r-- 1 ldhagen ldhagen     17084 Jun  6 14:22 6b62a44b-69ec-436a-9b95-0ea550475543.1
-rw-r--r-- 1 ldhagen ldhagen     23005 Jun  6 14:22 Updating_On_AWS.ipynb
drwxrwxrwx 1 ldhagen ldhagen      4096 May 18 14:04 ..
-rw-r--r-- 1 ldhagen ldhagen     16270 May 17 15:59 6b62a44b-69ec-436a-9b95-0ea550475543
-rw------- 1 ldhagen ldhagen      3818 May  6 15:17 nohup.out
-rw-r--r-- 1 ldhagen ldhagen     11705 May  4 16:58 Untitled.ipynb
drwxr-xr-x 1 ldhagen ldhagen      4096 May  4 16:46 .ipynb_checkpoints
drwxr-xr-x 1 ldhagen ldhagen      4096 May  4 12:52 .git
-rw-r--r-- 1 ldhagen ldhagen        82 May  4 12:52 README.md
-rw-r--r-- 1 ldhagen ldhagen      1064 May  4 12:52 LICENSE
-rw-r--r-- 1 ldhagen ldhagen     53812 May  4 12:52 InitialReview.ipynb
-rw-r--r-- 1 ldhagen ldhagen    127633 May  4 12:52 Dec_2020_PPP_Work.ipynb
-rw-r--r-- 1 ldhagen ldhagen 424917164 May  2 20:21 public_150k_plus.csv
-rw-r--r-- 1 ldhagen ldhagen 424917164 May  2 20:21 public_150k_plus.csv.1

In [6]:
df_all_high_SBA = pd.read_csv('public_150k_plus.csv')

In [87]:
!diff public_150k_plus.csv public_150k_plus.csv.1

In [88]:
a = df_all_high_SBA

In [89]:
len(a)

964361

In [15]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_1.csv

--2021-06-06 14:45:43--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_1.csv
Resolving data.sba.gov (data.sba.gov)... 13.226.201.112, 13.226.201.11, 13.226.201.79, ...
Connecting to data.sba.gov (data.sba.gov)|13.226.201.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 393284205 (375M) [text/csv]
Saving to: ‘public_up_to_150k_1.csv’

public_up_to_150k_1 100%[===================>] 375.06M  13.9MB/s    in 29s

2021-06-06 14:46:12 (13.1 MB/s) - ‘public_up_to_150k_1.csv’ saved [393284205/393284205]

In [16]:
df_below_150_SBA_1 = pd.read_csv('public_up_to_150k_1.csv')

In [90]:
b = df_below_150_SBA_1

In [91]:
len(b)

900000

In [19]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_2.csv

--2021-06-06 14:46:52--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_2.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.4, 99.86.100.62, 99.86.100.14, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 393284205 (375M) [text/csv]
Saving to: ‘public_up_to_150k_2.csv’

public_up_to_150k_2 100%[===================>] 375.06M  13.6MB/s    in 28s

2021-06-06 14:47:20 (13.5 MB/s) - ‘public_up_to_150k_2.csv’ saved [393284205/393284205]

In [20]:
df_below_150_SBA_2 = pd.read_csv('public_up_to_150k_2.csv')

In [21]:
c = df_below_150_SBA_2

In [22]:
len(c)

900000

In [23]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_3.csv

--2021-06-06 14:47:46--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_3.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.20, 99.86.100.14, 99.86.100.62, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 391318098 (373M) [text/csv]
Saving to: ‘public_up_to_150k_3.csv’

public_up_to_150k_3 100%[===================>] 373.19M  12.9MB/s    in 28s

2021-06-06 14:48:14 (13.2 MB/s) - ‘public_up_to_150k_3.csv’ saved [391318098/391318098]

In [24]:
df_below_150_3_SBA = pd.read_csv('public_up_to_150k_3.csv')

In [25]:
d = df_below_150_3_SBA

In [26]:
len(d)

900000

In [27]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/864cd9cb-7797-42da-b991-68ac24fcab9a/download/public_up_to_150k_4.csv

--2021-06-06 14:48:37--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/864cd9cb-7797-42da-b991-68ac24fcab9a/download/public_up_to_150k_4.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.4, 99.86.100.20, 99.86.100.62, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 386070025 (368M) [text/csv]
Saving to: ‘public_up_to_150k_4.csv’

public_up_to_150k_4 100%[===================>] 368.18M  13.1MB/s    in 28s

2021-06-06 14:49:05 (12.9 MB/s) - ‘public_up_to_150k_4.csv’ saved [386070025/386070025]

In [28]:
df_below_150_4_SBA = pd.read_csv('public_up_to_150k_4.csv')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
e = df_below_150_4_SBA

In [30]:
len(e)

900000

In [31]:
!df -k

Filesystem     1K-blocks     Used Available Use% Mounted on
rootfs         498713704 87110564 411603140  18% /
none           498713704 87110564 411603140  18% /dev
none           498713704 87110564 411603140  18% /run
none           498713704 87110564 411603140  18% /run/lock
none           498713704 87110564 411603140  18% /run/shm
none           498713704 87110564 411603140  18% /run/user
tmpfs          498713704 87110564 411603140  18% /sys/fs/cgroup
C:\            498713704 87110564 411603140  18% /mnt/c

In [32]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/3032cb97-3a22-4ded-a0ca-69bdf54cdc32/download/public_up_to_150k_5.csv

--2021-06-06 14:49:14--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/3032cb97-3a22-4ded-a0ca-69bdf54cdc32/download/public_up_to_150k_5.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.14, 99.86.100.62, 99.86.100.20, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.14|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 384305306 (367M) [text/csv]
Saving to: ‘public_up_to_150k_5.csv’

public_up_to_150k_5 100%[===================>] 366.50M  10.9MB/s    in 29s

2021-06-06 14:49:43 (12.8 MB/s) - ‘public_up_to_150k_5.csv’ saved [384305306/384305306]

In [33]:
df_below_150_5_SBA = pd.read_csv('public_up_to_150k_5.csv')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [34]:
f = df_below_150_5_SBA

In [35]:
len(f)

900000

In [36]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/8fd56c55-8ad6-491e-a219-441c50471e4d/download/public_up_to_150k_6.csv

--2021-06-06 14:49:50--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/8fd56c55-8ad6-491e-a219-441c50471e4d/download/public_up_to_150k_6.csv
Resolving data.sba.gov (data.sba.gov)... 13.225.51.55, 13.225.51.57, 13.225.51.67, ...
Connecting to data.sba.gov (data.sba.gov)|13.225.51.55|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388017086 (370M) [text/csv]
Saving to: ‘public_up_to_150k_6.csv’

public_up_to_150k_6 100%[===================>] 370.04M  13.8MB/s    in 28s

2021-06-06 14:50:18 (13.2 MB/s) - ‘public_up_to_150k_6.csv’ saved [388017086/388017086]

In [37]:
df_below_150_6_SBA = pd.read_csv('public_up_to_150k_6.csv')

In [38]:
g = df_below_150_6_SBA

In [39]:
len(g)

900000

In [40]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/7fd17fde-42a9-4a5a-8be9-dfbc6703e5f3/download/public_up_to_150k_7.csv

--2021-06-06 14:50:26--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/7fd17fde-42a9-4a5a-8be9-dfbc6703e5f3/download/public_up_to_150k_7.csv
Resolving data.sba.gov (data.sba.gov)... 13.225.51.93, 13.225.51.67, 13.225.51.57, ...
Connecting to data.sba.gov (data.sba.gov)|13.225.51.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 383733585 (366M) [text/csv]
Saving to: ‘public_up_to_150k_7.csv’

public_up_to_150k_7 100%[===================>] 365.96M  13.2MB/s    in 27s

2021-06-06 14:50:54 (13.3 MB/s) - ‘public_up_to_150k_7.csv’ saved [383733585/383733585]

In [41]:
df_below_150_7_SBA = pd.read_csv('public_up_to_150k_7.csv')

In [42]:
h = df_below_150_7_SBA

In [43]:
len(h)

900000

In [44]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/c0c87f18-333a-43e8-843e-7c1e27b18317/download/public_up_to_150k_8.csv

--2021-06-06 14:51:01--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/c0c87f18-333a-43e8-843e-7c1e27b18317/download/public_up_to_150k_8.csv
Resolving data.sba.gov (data.sba.gov)... 13.225.51.67, 13.225.51.55, 13.225.51.93, ...
Connecting to data.sba.gov (data.sba.gov)|13.225.51.67|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 386841276 (369M) [text/csv]
Saving to: ‘public_up_to_150k_8.csv’

public_up_to_150k_8 100%[===================>] 368.92M  13.3MB/s    in 29s

2021-06-06 14:51:30 (12.9 MB/s) - ‘public_up_to_150k_8.csv’ saved [386841276/386841276]

In [45]:
df_below_150_8_SBA = pd.read_csv('public_up_to_150k_8.csv')

In [46]:
i = df_below_150_8_SBA

In [47]:
len(i)

900000

In [48]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_9.csv

--2021-06-06 14:51:38--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_9.csv
Resolving data.sba.gov (data.sba.gov)... 13.225.51.57, 13.225.51.93, 13.225.51.55, ...
Connecting to data.sba.gov (data.sba.gov)|13.225.51.57|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388378516 (370M) [text/csv]
Saving to: ‘public_up_to_150k_9.csv’

public_up_to_150k_9 100%[===================>] 370.39M  12.5MB/s    in 29s

2021-06-06 14:52:07 (12.9 MB/s) - ‘public_up_to_150k_9.csv’ saved [388378516/388378516]

In [49]:
df_below_150_9_SBA = pd.read_csv('public_up_to_150k_9.csv')

In [50]:
j = df_below_150_9_SBA

In [51]:
len(j)

900000

In [52]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_10.csv

--2021-06-06 14:52:15--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_10.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.14, 99.86.100.4, 99.86.100.62, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.14|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388378516 (370M) [text/csv]
Saving to: ‘public_up_to_150k_10.csv’

public_up_to_150k_1 100%[===================>] 370.39M  13.0MB/s    in 28s

2021-06-06 14:52:43 (13.2 MB/s) - ‘public_up_to_150k_10.csv’ saved [388378516/388378516]

In [53]:
df_below_150_10_SBA = pd.read_csv('public_up_to_150k_10.csv')

In [54]:
k = df_below_150_10_SBA

In [55]:
len(k)

900000

In [56]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_11.csv

--2021-06-06 14:52:51--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_11.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.20, 99.86.100.62, 99.86.100.4, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388378516 (370M) [text/csv]
Saving to: ‘public_up_to_150k_11.csv’

public_up_to_150k_1 100%[===================>] 370.39M  12.0MB/s    in 29s

2021-06-06 14:53:20 (12.8 MB/s) - ‘public_up_to_150k_11.csv’ saved [388378516/388378516]

In [57]:
df_below_150_11_SBA = pd.read_csv('public_up_to_150k_11.csv')

In [58]:
l = df_below_150_11_SBA

In [59]:
len(l)

900000

In [60]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_12.csv

--2021-06-06 14:53:28--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_12.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.20, 99.86.100.62, 99.86.100.4, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388378516 (370M) [text/csv]
Saving to: ‘public_up_to_150k_12.csv’

public_up_to_150k_1 100%[===================>] 370.39M  14.2MB/s    in 28s

2021-06-06 14:53:56 (13.1 MB/s) - ‘public_up_to_150k_12.csv’ saved [388378516/388378516]

In [61]:
df_below_150_12_SBA = pd.read_csv('public_up_to_150k_12.csv')

In [62]:
m = df_below_150_12_SBA

In [63]:
len(m)

900000

In [64]:
!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_13.csv

--2021-06-06 14:54:04--  https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_13.csv
Resolving data.sba.gov (data.sba.gov)... 99.86.100.14, 99.86.100.4, 99.86.100.62, ...
Connecting to data.sba.gov (data.sba.gov)|99.86.100.14|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388378516 (370M) [text/csv]
Saving to: ‘public_up_to_150k_13.csv’

public_up_to_150k_1 100%[===================>] 370.39M  13.1MB/s    in 28s

2021-06-06 14:54:33 (13.0 MB/s) - ‘public_up_to_150k_13.csv’ saved [388378516/388378516]

In [65]:
df_below_150_13_SBA = pd.read_csv('public_up_to_150k_13.csv')

In [66]:
n = df_below_150_13_SBA

In [67]:
len(n)

900000

In [68]:
xxxx=zzzzzz

NameError: name 'zzzzzz' is not defined

In [69]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_18',
 '_22',
 '_26',
 '_30',
 '_35',
 '_39',
 '_43',
 '_47',
 '_51',
 '_55',
 '_59',
 '_63',
 '_67',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'd',
 'datetime',
 'df_all_high_SBA',
 'df_below_150_10_SBA',
 'df_below_150_11_SBA',
 'df_below_150_12_SBA',
 'df_below_150_13_SBA',
 'df_below_150_3_SBA',
 'df_below_150_4_SBA',
 'df_below_150_5_SBA',
 'df_below_150_6_SBA',
 'df_below_150_7_SBA',
 'df_below_150_8_SBA',
 'df_below_150_9_SBA',
 'df_below_150_SBA_1',
 'df_below_150_SBA_2',
 'e',
 'exit',
 'f',
 'g',
 'get_ipython',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'np',
 'pd',
 'plt',
 'quit']

In [70]:
!df -k

Filesystem     1K-blocks      Used Available Use% Mounted on
rootfs         498713704 101714428 396999276  21% /
none           498713704 101714428 396999276  21% /dev
none           498713704 101714428 396999276  21% /run
none           498713704 101714428 396999276  21% /run/lock
none           498713704 101714428 396999276  21% /run/shm
none           498713704 101714428 396999276  21% /run/user
tmpfs          498713704 101714428 396999276  21% /sys/fs/cgroup
C:\            498713704 101714428 396999276  21% /mnt/c

In [71]:
!ls -alt

total 6176236
drwxr-xr-x 1 ldhagen ldhagen      4096 Jun  6 14:55 .
-rw-r--r-- 1 ldhagen ldhagen     45071 Jun  6 14:55 Updating_On_AWS.ipynb
-rw-r--r-- 1 ldhagen ldhagen     17084 Jun  6 14:22 6b62a44b-69ec-436a-9b95-0ea550475543.1
-rw-r--r-- 1 ldhagen ldhagen 388378516 Jun  4 10:57 public_up_to_150k_10.csv
-rw-r--r-- 1 ldhagen ldhagen 388378516 Jun  4 10:57 public_up_to_150k_11.csv
-rw-r--r-- 1 ldhagen ldhagen 388378516 Jun  4 10:57 public_up_to_150k_12.csv
-rw-r--r-- 1 ldhagen ldhagen 388378516 Jun  4 10:57 public_up_to_150k_13.csv
-rw-r--r-- 1 ldhagen ldhagen 383733585 Jun  4 10:55 public_up_to_150k_7.csv
-rw-r--r-- 1 ldhagen ldhagen 393284205 Jun  4 10:53 public_up_to_150k_1.csv
-rw-r--r-- 1 ldhagen ldhagen 393284205 Jun  4 10:53 public_up_to_150k_2.csv
-rw-r--r-- 1 ldhagen ldhagen 388378516 Jun  1 10:24 public_up_to_150k_9.csv
-rw-r--r-- 1 ldhagen ldhagen 386841276 Jun  1 10:24 public_up_to_150k_8.csv
-rw-r--r-- 1 ldhagen ldhagen 384305306 Jun  1 10:23 public_up_to_150k_5.csv
-rw-r--r-- 1 ldhagen ldhagen 388017086 Jun  1 10:23 public_up_to_150k_6.csv
-rw-r--r-- 1 ldhagen ldhagen 386070025 Jun  1 10:23 public_up_to_150k_4.csv
drwxrwxrwx 1 ldhagen ldhagen      4096 May 18 14:04 ..
-rw-r--r-- 1 ldhagen ldhagen     16270 May 17 15:59 6b62a44b-69ec-436a-9b95-0ea550475543
-rw------- 1 ldhagen ldhagen      3818 May  6 15:17 nohup.out
-rw-r--r-- 1 ldhagen ldhagen     11705 May  4 16:58 Untitled.ipynb
drwxr-xr-x 1 ldhagen ldhagen      4096 May  4 16:46 .ipynb_checkpoints
drwxr-xr-x 1 ldhagen ldhagen      4096 May  4 12:52 .git
-rw-r--r-- 1 ldhagen ldhagen        82 May  4 12:52 README.md
-rw-r--r-- 1 ldhagen ldhagen      1064 May  4 12:52 LICENSE
-rw-r--r-- 1 ldhagen ldhagen     53812 May  4 12:52 InitialReview.ipynb
-rw-r--r-- 1 ldhagen ldhagen    127633 May  4 12:52 Dec_2020_PPP_Work.ipynb
-rw-r--r-- 1 ldhagen ldhagen 391318098 May  2 20:29 public_up_to_150k_3.csv
-rw-r--r-- 1 ldhagen ldhagen 424917164 May  2 20:21 public_150k_plus.csv
-rw-r--r-- 1 ldhagen ldhagen 424917164 May  2 20:21 public_150k_plus.csv.1
-rw-r--r-- 1 ldhagen ldhagen 424917164 May  2 20:21 public_150k_plus.csv.2

In [72]:
type(a)

pandas.core.frame.DataFrame

In [92]:
len(a)

964361

In [93]:
len(b)

900000

In [94]:
result = a.append([b])

In [95]:
len(result)

1864361

In [96]:
print(a.shape)

(964361, 51)

In [97]:
print(result.shape)

(1864361, 51)

In [98]:
result = result.append([c])

In [99]:
len(result)

2764361

In [100]:
result = result.append([d])

In [101]:
result = result.append([e])

In [102]:
result = result.append([f])

In [103]:
result = result.append([g])

In [104]:
result = result.append([h])

In [105]:
result = result.append([i])

In [106]:
result = result.append([j])

In [107]:
result = result.append([k])

In [108]:
result = result.append([l])

In [109]:
result = result.append([m])

In [110]:
result = result.append([n])

In [113]:
result.shape

(12664361, 51)

In [114]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12664361 entries, 0 to 899999
Data columns (total 51 columns):
 #   Column                       Dtype
---  ------                       -----
 0   LoanNumber                   int64
 1   DateApproved                 object
 2   SBAOfficeCode                int64
 3   ProcessingMethod             object
 4   BorrowerName                 object
 5   BorrowerAddress              object
 6   BorrowerCity                 object
 7   BorrowerState                object
 8   BorrowerZip                  object
 9   LoanStatusDate               object
 10  LoanStatus                   object
 11  Term                         int64
 12  SBAGuarantyPercentage        int64
 13  InitialApprovalAmount        float64
 14  CurrentApprovalAmount        float64
 15  UndisbursedAmount            float64
 16  FranchiseName                object
 17  ServicingLenderLocationID    int64
 18  ServicingLenderName          object
 19  ServicingLenderAddress       object
 20  ServicingLenderCity          object
 21  ServicingLenderState         object
 22  ServicingLenderZip           object
 23  RuralUrbanIndicator          object
 24  HubzoneIndicator             object
 25  LMIIndicator                 object
 26  BusinessAgeDescription       object
 27  ProjectCity                  object
 28  ProjectCountyName            object
 29  ProjectState                 object
 30  ProjectZip                   object
 31  CD                           object
 32  JobsReported                 float64
 33  NAICSCode                    float64
 34  Race                         object
 35  Ethnicity                    object
 36  UTILITIES_PROCEED            float64
 37  PAYROLL_PROCEED              float64
 38  MORTGAGE_INTEREST_PROCEED    float64
 39  RENT_PROCEED                 float64
 40  REFINANCE_EIDL_PROCEED       float64
 41  HEALTH_CARE_PROCEED          float64
 42  DEBT_INTEREST_PROCEED        float64
 43  BusinessType                 object
 44  OriginatingLenderLocationID  int64
 45  OriginatingLender            object
 46  OriginatingLenderCity        object
 47  OriginatingLenderState       object
 48  Gender                       object
 49  Veteran                      object
 50  NonProfit                    object
dtypes: float64(12), int64(6), object(33)
memory usage: 4.9+ GB

In [115]:
!df -k

Filesystem     1K-blocks      Used Available Use% Mounted on
rootfs         498713704 117086712 381626992  24% /
none           498713704 117086712 381626992  24% /dev
none           498713704 117086712 381626992  24% /run
none           498713704 117086712 381626992  24% /run/lock
none           498713704 117086712 381626992  24% /run/shm
none           498713704 117086712 381626992  24% /run/user
tmpfs          498713704 117086712 381626992  24% /sys/fs/cgroup
C:\            498713704 117086712 381626992  24% /mnt/c

In [116]:
import pickle

In [121]:
with open('6_Jun_21_Combined_PPP.pkl', 'wb') as ofile:
    pickle.dump(result, ofile)

In [123]:
!df -k

Filesystem     1K-blocks      Used Available Use% Mounted on
rootfs         498713704 121390488 377323216  25% /
none           498713704 121390488 377323216  25% /dev
none           498713704 121390488 377323216  25% /run
none           498713704 121390488 377323216  25% /run/lock
none           498713704 121390488 377323216  25% /run/shm
none           498713704 121390488 377323216  25% /run/user
tmpfs          498713704 121390488 377323216  25% /sys/fs/cgroup
C:\            498713704 121390488 377323216  25% /mnt/c

In [124]:
!file 6_Jun_21_Combined_PPP.pkl

6_Jun_21_Combined_PPP.pkl: data

In [125]:
len(a)

964361

In [126]:
len(n)

900000

In [127]:
result.loc[:, 'DateApproved_dt'] = pd.to_datetime(result['DateApproved'])

In [128]:
result.DateApproved_dt.max()

Timestamp('2021-05-29 00:00:00')

In [129]:
result.DateApproved_dt.min()

Timestamp('2020-04-03 00:00:00')

In [130]:
result.LoanStatus.value_counts()

Exemption 4            8634628
Paid in Full           2427347
Active Un-Disbursed    1602386
Name: LoanStatus, dtype: int64

In [131]:
result.Race.value_counts()

Unanswered                                   9625306
White                                        1631714
Black or African American                    1000104
Asian                                         307904
American Indian or Alaska Native               90021
Native Hawaiian or Other Pacific Islander       9018
Puerto Rican                                     229
Multi Group                                       48
Eskimo & Aleut                                    17
Name: Race, dtype: int64

In [132]:
result.Term.value_counts()

60    8050854
24    4602114
59      10003
23        917
58        340
49         17
52          9
21          7
22          7
35          6
32          6
54          6
48          6
36          6
37          5
33          5
0           5
25          5
7           4
15          4
44          4
19          4
57          3
53          3
47          2
18          2
29          2
55          2
30          1
16          1
61          1
13          1
14          1
50          1
17          1
51          1
43          1
38          1
27          1
34          1
65          1
Name: Term, dtype: int64

In [133]:
result.SBAGuarantyPercentage.value_counts()

100    12664361
Name: SBAGuarantyPercentage, dtype: int64

In [141]:
result.CurrentApprovalAmount.max()

10000000.0

In [142]:
result[result.CurrentApprovalAmount == result.CurrentApprovalAmount.max()]

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,DateApproved_dt
2665,1517597200,04/15/2020,459,PPP,ACTION ENTERPRISE HOLDINGS LLC,204 20TH ST N,BIRMINGHAM,AL,35203-3610,NaN,...,NaN,Limited Liability Company(LLC),2408,Regions Bank,BIRMINGHAM,AL,Male Owned,Non-Veteran,NaN,2020-04-15
2666,1798427201,04/15/2020,459,PPP,NAPHCARE US INC,2090 Columbiana Road,VESTAVIA HILLS,AL,35216-2153,NaN,...,NaN,Corporation,2408,Regions Bank,BIRMINGHAM,AL,Male Owned,Veteran,NaN,2020-04-15
2667,2886767410,05/06/2020,459,PPP,"AMERICAN FAMILY CARE, INC.",3700 Cahaba Beach Road,BIRMINGHAM,AL,35242,NaN,...,NaN,Subchapter S Corporation,453618,Progress Bank and Trust,HUNTSVILLE,AL,Male Owned,Unanswered,NaN,2020-05-06
2668,4982277110,04/13/2020,459,PPP,"MAYNARD COOPER & GALE, PC.",1901 6TH AVE N Ste 2400,BIRMINGHAM,AL,35203-2602,NaN,...,NaN,Corporation,2408,Regions Bank,BIRMINGHAM,AL,Unanswered,Unanswered,NaN,2020-04-13
2669,5001327110,04/13/2020,459,PPP,"QUALITY RESTAURANT CONCEPTS, LLC",VESTAVIA PKWY,VESTAVIA,AL,35216-1327,NaN,...,NaN,Limited Liability Company(LLC),25667,Equity Bank,ANDOVER,KS,Male Owned,Non-Veteran,NaN,2020-04-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941569,9068837309,05/01/2020,563,PPP,TOTAL ADMINISTRATIVE SERVICES CORPORATION,2302 INTERNATIONAL LN,MADISON,WI,53704-3136,NaN,...,NaN,Corporation,21442,BMO Harris Bank National Association,CHICAGO,IL,Unanswered,Unanswered,NaN,2020-05-01
941570,9383218405,02/16/2021,563,PPP,J.P. CULLEN & SONS INC.,330 E Delavan Dr,Janesville,WI,53546-2711,NaN,...,NaN,Subchapter S Corporation,77025,Johnson Bank,RACINE,WI,Unanswered,Unanswered,NaN,2021-02-16
941571,9624208600,03/26/2021,563,PPP,BETHESDA LUTHERAN COMMUNITIES INC,1946 Forest St 1946 Forest St,Wauwatosa,WI,53213-2153,NaN,...,NaN,501(c)3 – Non Profit,44449,"PNC Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,Y,2021-03-26
941572,9984787008,04/09/2020,563,PPP,"METALTEK INTERNATIONAL, INC",905 E St. Paul Ave 0.0,Waukesha,WI,53188-3804,NaN,...,0.0,Subchapter S Corporation,48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,2020-04-09
962227,2724797100,04/11/2020,897,PPP,EAGLE SPECIALTY MATERIALS LLC,PO Box 3039,GILLETTE,WY,82718,NaN,...,NaN,Limited Liability Company(LLC),57328,The Huntington National Bank,COLUMBUS,OH,Male Owned,Non-Veteran,NaN,2020-04-11

In [144]:
result[result.CurrentApprovalAmount == result.CurrentApprovalAmount.max()].BorrowerZip.value_counts()

32839-6006    3
56001         2
55439         2
77079         2
10018         2
             ..
21286         1
68137         1
01602-3414    1
18940-1897    1
43082         1
Name: BorrowerZip, Length: 687, dtype: int64

In [148]:
pd.set_option('display.max_columns', None)

In [152]:
result[(result.BorrowerZip =='32839-6006')]

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,ServicingLenderAddress,ServicingLenderCity,ServicingLenderState,ServicingLenderZip,RuralUrbanIndicator,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,ProjectCity,ProjectCountyName,ProjectState,ProjectZip,CD,JobsReported,NAICSCode,Race,Ethnicity,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,DateApproved_dt
205007,5925087110,04/14/2020,593,PPP,BUCA RESTAURANTS 2 INC,4700 Millenia Blvd,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,10000000.00,10000000.00,0.0,NaN,44449,"PNC Bank, National Association",222 Delaware Ave,WILMINGTON,DE,19801-1621,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,500.0,722511.0,Unanswered,Unknown/NotStated,NaN,10000000.00,NaN,NaN,NaN,NaN,NaN,Corporation,44449,"PNC Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,2020-04-14
205009,6251287903,06/16/2020,491,PPP,BRAVO BRIO RESTAURANTS LLC,4700 millenia blvd suite 400,ORLANDO,FL,32839-6006,NaN,Exemption 4,60,100,10000000.00,10000000.00,0.0,NaN,17124,City National Bank of Florida,100 SE 2nd St,MIAMI,FL,33131,U,Y,Y,New Business or 2 years or less,ORLANDO,ORANGE,FL,32839-6006,FL-10,500.0,722511.0,Unanswered,Unknown/NotStated,2500000.0,7500000.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),17124,City National Bank of Florida,MIAMI,FL,Unanswered,Unanswered,NaN,2020-06-16
205014,7966647009,04/08/2020,491,PPP,BERTUCCIS RESTAURANTS LLC,4700 MILLENIA BLVD STE 400,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,10000000.00,10000000.00,0.0,NaN,44449,"PNC Bank, National Association",222 Delaware Ave,WILMINGTON,DE,19801-1621,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,500.0,722511.0,Unanswered,Unknown/NotStated,NaN,10000000.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),44449,"PNC Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,2020-04-08
205060,1164507101,04/10/2020,491,PPP,ASSISTRX INC.,4700 Millenia Blvd Suite 500,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,6067800.00,7407848.00,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,214 N Tryon St,CHARLOTTE,NC,28202-1078,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,498.0,511210.0,Unanswered,Unknown/NotStated,NaN,7407848.00,NaN,NaN,NaN,NaN,NaN,Subchapter S Corporation,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Unanswered,Unanswered,NaN,2020-04-10
205066,5976137101,04/14/2020,303,PPP,BUCA RESTAURANTS INC,4700 Millenia Blvd,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,7259200.00,7259200.00,0.0,NaN,44449,"PNC Bank, National Association",222 Delaware Ave,WILMINGTON,DE,19801-1621,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,500.0,722511.0,Unanswered,Unknown/NotStated,NaN,7259200.00,NaN,NaN,NaN,NaN,NaN,Corporation,44449,"PNC Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,2020-04-14
207122,1161907108,04/10/2020,491,PPP,PLANET HOLLYWOOD INTERNATIONAL INC,"4700 Millenia Blvd., Suite 400",ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,7274800.00,1731100.00,0.0,NaN,464999,"BankUnited, National Association",14817 Oak Lane,MIAMI LAKES,FL,33016-1517,U,Y,Y,New Business or 2 years or less,ORLANDO,ORANGE,FL,32839-6006,FL-10,500.0,722511.0,Unanswered,Unknown/NotStated,NaN,1731100.00,NaN,NaN,NaN,NaN,NaN,Corporation,464999,"BankUnited, National Association",MIAMI LAKES,FL,Unanswered,Unanswered,NaN,2020-04-10
207580,4533907103,04/13/2020,491,PPP,EARL OF SANDWICH USA LLC,4700 MILLENIA BLVD,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,1559200.00,1559200.00,0.0,NaN,44449,"PNC Bank, National Association",222 Delaware Ave,WILMINGTON,DE,19801-1621,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,346.0,722513.0,Unanswered,Unknown/NotStated,NaN,1559200.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),44449,"PNC Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,2020-04-13
221047,1078878401,02/01/2021,491,PPP,SHOES2DIE4 LLC,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,74481.00,74481.00,0.0,NaN,456756,Cross River Bank,885 Teaneck Rd,TEANECK,NJ,07666-4546,U,Y,Y,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,8.0,448210.0,Unanswered,Unknown/NotStated,1.0,74480.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),456756,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,NaN,2021-02-01
308556,7257328109,07/23/2020,491,PPP,NAEJ SECURITY INC. DBA DENTON SECURITY INC.,4700 Millenia Blvd #175,ORLANDO,FL,32839-6006,NaN,Exemption 4,60,100,36624.93,36624.93,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,214 N Tryon St,CHARLOTTE,NC,28202-1078,U,Y,Y,Unanswered,ORLANDO,ORANGE,FL,32839-6006,FL-10,9.0,561612.0,Unanswered,Unknown/NotStated,NaN,36624.93,NaN,NaN,NaN,NaN,NaN,Corporation,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Unanswered,Unanswered,NaN,2020-07-23
319534,4768257103,04/13/2020,491,PPP,"CLOSER LOOK INSPECTIONS, INC",4700 Millenia Blvd suite 175,ORLANDO,FL,32839-6006,03/23/2021,Paid in Full,24,100,33744.75,33744.75,0.0,NaN,29805,"TD Bank, National Association",2035 Limestone Rd,WILMINGTON,DE,19808-5529,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,4.0,541350.0,Unanswered,Unknown/NotStated,NaN,33742.50,NaN,NaN,2.25,NaN,NaN,Corporation,29805,"TD Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,2020-04-13
342874,4656677803,05/28/2020,491,PPP,UNITED GLOBAL TRUST LLC,4700 MILLENIA BLVD,ORLANDO,FL,32839-6006,03/19/2021,Paid in Full,24,100,28920.00,28920.00,0.0,NaN,58036,Fifth Third Bank,38 Fountain Sq Plz,CINCINNATI,OH,45263,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,3.0,236118.0,Unanswered,Unknown/NotStated,NaN,28920.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),58036,Fifth Third Bank,CINCINNATI,OH,Unanswered,Unanswered,NaN,2020-05-28
408244,2842148907,04/27/2021,491,PPP,DEBI RUMPH MCRAE,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,20833.00,20833.00,0.0,NaN,67422,First Horizon Bank,165 Madison Ave,MEMPHIS,TN,38103-2723,U,Y,N,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,541110.0,Unanswered,Unknown/NotStated,NaN,20833.00,NaN,NaN,NaN,NaN,NaN,Self-Employed Individuals,67422,First Horizon Bank,MEMPHIS,TN,Unanswered,Unanswered,NaN,2021-04-27
490820,6762728401,02/11/2021,491,PPS,C MICHAEL DALTON,4700 Millenia Blvd,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,20832.00,20832.00,0.0,NaN,457013,CapStar Bank,1201 Demonbreun St Ste 700,NASHVILLE,TN,37203-5078,U,Y,Y,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,541219.0,Unanswered,Unknown/NotStated,NaN,20832.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),457013,CapStar Bank,NASHVILLE,TN,Unanswered,Unanswered,NaN,2021-02-11
513760,3624577101,04/11/2020,491,PPP,WILLIAM S BRADFORD JR PLLC,4700 MILLENIA BOULEVARD SUITE 200,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,20800.00,20800.00,0.0,NaN,67422,First Horizon Bank,165 Madison Ave,MEMPHIS,TN,38103-2723,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,541110.0,Unanswered,Unknown/NotStated,NaN,20800.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),67422,First Horizon Bank,MEMPHIS,TN,Unanswered,Unanswered,NaN,2020-04-11
582605,8956338802,04/23/2021,491,PPS,NAEJ SECURITY INC. DBA DENTON SECURITY INC.,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,20000.00,20000.00,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,214 N Tryon St,CHARLOTTE,NC,28202-1078,U,Y,N,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,4.0,561612.0,Unanswered,Unknown/NotStated,NaN,19998.00,NaN,NaN,NaN,NaN,NaN,Corporation,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Unanswered,Unanswered,NaN,2021-04-23
686570,9520767004,04/09/2020,491,PPP,WHITES ACCOUNTING AND TAX SERVICE INC,4700 MILLENIA BLVD ste. 175,ORLANDO,FL,32839-6006,03/06/2021,Paid in Full,24,100,14905.00,14905.00,0.0,NaN,17736,United Southern Bank,750 N Central Ave,UMATILLA,FL,32784-8635,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,541211.0,Unanswered,Unknown/NotStated,NaN,14905.00,NaN,NaN,NaN,NaN,NaN,Subchapter S Corporation,17736,United Southern Bank,UMATILLA,FL,Male Owned,Unanswered,NaN,2020-04-09
849467,9258268105,07/28/2020,491,PPP,MERE REAL ESTATE COMPANY INC,4700 MILLENIA BLVD SUITE 175,ORLANDO,FL,32839-6006,NaN,Exemption 4,60,100,7830.00,7830.00,0.0,NaN,17616,Seacoast National Bank,815 Colorado Ave,STUART,FL,34994-3053,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,531210.0,Unanswered,Unknown/NotStated,NaN,7830.00,NaN,NaN,NaN,NaN,NaN,Corporation,17616,Seacoast National Bank,STUART,FL,Unanswered,Unanswered,NaN,2020-07-28
221047,1078878401,02/01/2021,491,PPP,SHOES2DIE4 LLC,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,74481.00,74481.00,0.0,NaN,456756,Cross River Bank,885 Teaneck Rd,TEANECK,NJ,07666-4546,U,Y,Y,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,8.0,448210.0,Unanswered,Unknown/NotStated,1.0,74480.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),456756,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,NaN,2021-02-01
308556,7257328109,07/23/2020,491,PPP,NAEJ SECURITY INC. DBA DENTON SECURITY INC.,4700 Millenia Blvd #175,ORLANDO,FL,32839-6006,NaN,Exemption 4,60,100,36624.93,36624.93,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,214 N Tryon St,CHARLOTTE,NC,28202-1078,U,Y,Y,Unanswered,ORLANDO,ORANGE,FL,32839-6006,FL-10,9.0,561612.0,Unanswered,Unknown/NotStated,NaN,36624.93,NaN,NaN,NaN,NaN,NaN,Corporation,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Unanswered,Unanswered,NaN,2020-07-23
319534,4768257103,04/13/2020,491,PPP,"CLOSER LOOK INSPECTIONS, INC",4700 Millenia Blvd suite 175,ORLANDO,FL,32839-6006,03/23/2021,Paid in Full,24,100,33744.75,33744.75,0.0,NaN,29805,"TD Bank, National Association",2035 Limestone Rd,WILMINGTON,DE,19808-5529,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,4.0,541350.0,Unanswered,Unknown/NotStated,NaN,33742.50,NaN,NaN,2.25,NaN,NaN,Corporation,29805,"TD Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,2020-04-13
342874,4656677803,05/28/2020,491,PPP,UNITED GLOBAL TRUST LLC,4700 MILLENIA BLVD,ORLANDO,FL,32839-6006,03/19/2021,Paid in Full,24,100,28920.00,28920.00,0.0,NaN,58036,Fifth Third Bank,38 Fountain Sq Plz,CINCINNATI,OH,45263,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,3.0,236118.0,Unanswered,Unknown/NotStated,NaN,28920.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),58036,Fifth Third Bank,CINCINNATI,OH,Unanswered,Unanswered,NaN,2020-05-28
408244,2842148907,04/27/2021,491,PPP,DEBI RUMPH MCRAE,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,20833.00,20833.00,0.0,NaN,67422,First Horizon Bank,165 Madison Ave,MEMPHIS,TN,38103-2723,U,Y,N,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,541110.0,Unanswered,Unknown/NotStated,NaN,20833.00,NaN,NaN,NaN,NaN,NaN,Self-Employed Individuals,67422,First Horizon Bank,MEMPHIS,TN,Unanswered,Unanswered,NaN,2021-04-27
490820,6762728401,02/11/2021,491,PPS,C MICHAEL DALTON,4700 Millenia Blvd,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,20832.00,20832.00,0.0,NaN,457013,CapStar Bank,1201 Demonbreun St Ste 700,NASHVILLE,TN,37203-5078,U,Y,Y,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,541219.0,Unanswered,Unknown/NotStated,NaN,20832.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),457013,CapStar Bank,NASHVILLE,TN,Unanswered,Unanswered,NaN,2021-02-11
513760,3624577101,04/11/2020,491,PPP,WILLIAM S BRADFORD JR PLLC,4700 MILLENIA BOULEVARD SUITE 200,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,20800.00,20800.00,0.0,NaN,67422,First Horizon Bank,165 Madison Ave,MEMPHIS,TN,38103-2723,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,541110.0,Unanswered,Unknown/NotStated,NaN,20800.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),67422,First Horizon Bank,MEMPHIS,TN,Unanswered,Unanswered,NaN,2020-04-11
582605,8956338802,04/23/2021,491,PPS,NAEJ SECURITY INC. DBA DENTON SECURITY INC.,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,20000.00,20000.00,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,214 N Tryon St,CHARLOTTE,NC,28202-1078,U,Y,N,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,4.0,561612.0,Unanswered,Unknown/NotStated,NaN,19998.00,NaN,NaN,NaN,NaN,NaN,Corporation,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Unanswered,Unanswered,NaN,2021-04-23
686570,9520767004,04/09/2020,491,PPP,WHITES ACCOUNTING AND TAX SERVICE INC,4700 MILLENIA BLVD ste. 175,ORLANDO,FL,32839-6006,03/06/2021,Paid in Full,24,100,14905.00,14905.00,0.0,NaN,17736,United Southern Bank,750 N Central Ave,UMATILLA,FL,32784-8635,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,541211.0,Unanswered,Unknown/NotStated,NaN,14905.00,NaN,NaN,NaN,NaN,NaN,Subchapter S Corporation,17736,United Southern Bank,UMATILLA,FL,Male Owned,Unanswered,NaN,2020-04-09
849467,9258268105,07/28/2020,491,PPP,MERE REAL ESTATE COMPANY INC,4700 MILLENIA BLVD SUITE 175,ORLANDO,FL,32839-6006,NaN,Exemption 4,60,100,7830.00,7830.00,0.0,NaN,17616,Seacoast National Bank,815 Colorado Ave,STUART,FL,34994-3053,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,531210.0,Unanswered,Unknown/NotStated,NaN,7830.00,NaN,NaN,NaN,NaN,NaN,Corporation,17616,Seacoast National Bank,STUART,FL,Unanswered,Unanswered,NaN,2020-07-28
20070,1078878401,02/01/2021,491,PPP,SHOES2DIE4 LLC,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,74481.00,74481.00,0.0,NaN,456756,Cross River Bank,885 Teaneck Rd,TEANECK,NJ,07666-4546,U,Y,Y,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,8.0,448210.0,Unanswered,Unknown/NotStated,1.0,74480.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),456756,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,NaN,2021-02-01
106627,7257328109,07/23/2020,491,PPP,NAEJ SECURITY INC. DBA DENTON SECURITY INC.,4700 Millenia Blvd #175,ORLANDO,FL,32839-6006,NaN,Exemption 4,60,100,36624.93,36624.93,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,214 N Tryon St,CHARLOTTE,NC,28202-1078,U,Y,Y,Unanswered,ORLANDO,ORANGE,FL,32839-6006,FL-10,9.0,561612.0,Unanswered,Unknown/NotStated,NaN,36624.93,NaN,NaN,NaN,NaN,NaN,Corporation,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Unanswered,Unanswered,NaN,2020-07-23
117513,4768257103,04/13/2020,491,PPP,"CLOSER LOOK INSPECTIONS, INC",4700 Millenia Blvd suite 175,ORLANDO,FL,32839-6006,03/23/2021,Paid in Full,24,100,33744.75,33744.75,0.0,NaN,29805,"TD Bank, National Association",2035 Limestone Rd,WILMINGTON,DE,19808-5529,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,4.0,541350.0,Unanswered,Unknown/NotStated,NaN,33742.50,NaN,NaN,2.25,NaN,NaN,Corporation,29805,"TD Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,NaN,2020-04-13
139636,4656677803,05/28/2020,491,PPP,UNITED GLOBAL TRUST LLC,4700 MILLENIA BLVD,ORLANDO,FL,32839-6006,03/19/2021,Paid in Full,24,100,28920.00,28920.00,0.0,NaN,58036,Fifth Third Bank,38 Fountain Sq Plz,CINCINNATI,OH,45263,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,3.0,236118.0,Unanswered,Unknown/NotStated,NaN,28920.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),58036,Fifth Third Bank,CINCINNATI,OH,Unanswered,Unanswered,NaN,2020-05-28
202943,2842148907,04/27/2021,491,PPP,DEBI RUMPH MCRAE,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,04/27/2021,Active Un-Disbursed,60,100,20833.00,20833.00,20833.0,NaN,67422,First Horizon Bank,165 Madison Ave,MEMPHIS,TN,38103-2723,U,Y,N,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,541110.0,Unanswered,Unknown/NotStated,NaN,20833.00,NaN,NaN,NaN,NaN,NaN,Self-Employed Individuals,67422,First Horizon Bank,MEMPHIS,TN,Unanswered,Unanswered,NaN,2021-04-27
259894,6762728401,02/11/2021,491,PPS,C MICHAEL DALTON,4700 Millenia Blvd,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,20832.00,20832.00,0.0,NaN,457013,CapStar Bank,1201 Demonbreun St Ste 700,NASHVILLE,TN,37203-5078,U,Y,Y,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,541219.0,Unanswered,Unknown/NotStated,NaN,20832.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),457013,CapStar Bank,NASHVILLE,TN,Unanswered,Unanswered,NaN,2021-02-11
276933,3624577101,04/11/2020,491,PPP,WILLIAM S BRADFORD JR PLLC,4700 MILLENIA BOULEVARD SUITE 200,ORLANDO,FL,32839-6006,NaN,Exemption 4,24,100,20800.00,20800.00,0.0,NaN,67422,First Horizon Bank,165 Madison Ave,MEMPHIS,TN,38103-2723,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,541110.0,Unanswered,Unknown/NotStated,NaN,20800.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),67422,First Horizon Bank,MEMPHIS,TN,Unanswered,Unanswered,NaN,2020-04-11
332822,8956338802,04/23/2021,491,PPS,NAEJ SECURITY INC. DBA DENTON SECURITY INC.,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,04/23/2021,Active Un-Disbursed,60,100,20000.00,20000.00,20000.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,214 N Tryon St,CHARLOTTE,NC,28202-1078,U,Y,N,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,4.0,561612.0,Unanswered,Unknown/NotStated,NaN,19998.00,NaN,NaN,NaN,NaN,NaN,Corporation,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Unanswered,Unanswered,NaN,2021-04-23
422941,9520767004,04/09/2020,491,PPP,WHITES ACCOUNTING AND TAX SERVICE INC,4700 MILLENIA BLVD ste. 175,ORLANDO,FL,32839-6006,03/06/2021,Paid in Full,24,100,14905.00,14905.00,0.0,NaN,17736,United Southern Bank,750 N Central Ave,UMATILLA,FL,32784-8635,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,541211.0,Unanswered,Unknown/NotStated,NaN,14905.00,NaN,NaN,NaN,NaN,NaN,Subchapter S Corporation,17736,United Southern Bank,UMATILLA,FL,Male Owned,Unanswered,NaN,2020-04-09
566076,9258268105,07/28/2020,491,PPP,MERE REAL ESTATE COMPANY INC,4700 MILLENIA BLVD SUITE 175,ORLANDO,FL,32839-6006,NaN,Exemption 4,60,100,7830.00,7830.00,0.0,NaN,17616,Seacoast National Bank,815 Colorado Ave,STUART,FL,34994-3053,U,Y,Y,Existing or more than 2 years old,ORLANDO,ORANGE,FL,32839-6006,FL-10,1.0,531210.0,Unanswered,Unknown/NotStated,NaN,7830.00,NaN,NaN,NaN,NaN,NaN,Corporation,17616,Seacoast National Bank,STUART,FL,Unanswered,Unanswered,NaN,2020-07-28
614650,9470987807,06/08/2020,491,PPP,LIGHT HOMEMAKER COMPANION SERVICES LLC,4700 Millenia Blvd Ste 175,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,6125.00,6125.00,0.0,NaN,122043,WebBank,"215 S State St, Ste 1000",SALT LAKE CITY,UT,84111-2336,U,Y,Y,Existing or more than 2 years old,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,561499.0,Unanswered,Unknown/NotStated,NaN,6125.00,NaN,NaN,NaN,NaN,NaN,Subchapter S Corporation,122043,WebBank,SALT LAKE CITY,UT,Unanswered,Unanswered,NaN,2020-06-08
638885,9258218101,07/28/2020,491,PPP,SCOTT FAULKNER LLC,4700 Millenia Blvd,Orlando,FL,32839-6006,NaN,Exemption 4,60,100,5290.00,5290.00,0.0,NaN,456756,Cross River Bank,885 Teaneck Rd,TEANECK,NJ,07666-4546,U,Y,Y,Unanswered,Orlando,ORANGE,FL,32839-6006,FL-10,1.0,541990.0,Unanswered,Unknown/NotStated,NaN,5290.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),456756,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,NaN,2020-07-28

In [153]:
result[(result.BorrowerZip =='32839-6006')]['CurrentApprovalAmount'].sum()

48860130.04

In [111]:
xxxx=stop_here

NameError: name 'stop_here' is not defined

In [ ]:
type(a.DateApproved)

In [ ]:
pd.to_datetime(a.DateApproved[0])

In [ ]:
a.loc[:, 'DateApproved_datetime'] = pd.to_datetime(a['DateApproved'])

In [ ]:
a.info()

In [ ]:
a.tail()

In [ ]:
print(set(a.DateApproved_datetime.dt.month))

In [ ]:
a.columns

In [ ]:
a.dtypes

In [ ]:
a.info()

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
a.head()

In [ ]:
a[a.DateApproved_datetime <'2020-05-01T00:00:00.000000000']

In [ ]:
a['CD']

In [ ]:
a['CD'].iloc[6]

In [ ]:
a.head()

In [ ]:
a

In [ ]:
z = pd.read_csv('public_150k_plus.csv', index_col='LoanNumber')

In [ ]:
z

In [ ]:
z.dtypes

In [ ]:
z.head()

In [ ]:
z.tail(11)

In [ ]:
z.columns

In [ ]:
a.columns

In [ ]:
z.index

In [ ]:
a.index

In [ ]:
a.describe()

In [ ]:
z.describe()

In [ ]:
a[:5]

In [ ]:
z[0:5]

In [ ]:
z.head()

In [ ]:
a

In [ ]:
a[a.BorrowerState == 'TX'].count()

In [ ]:
a.loc[791524]

In [ ]:
a.iloc[791524,2]

In [ ]:
a[a.BorrowerAddress == '3400 N. Central Expressway Suite 110-243']

In [ ]:
a[a.BorrowerName == r'SWH MIMIS CAFE LLC']

In [ ]:
a.loc[791578]

In [ ]:
a.shape

In [ ]:
a.columns

In [ ]:
a.count()

In [ ]:
a.BorrowerZip.describe()

In [ ]:
a.last_valid_index()

In [ ]:
z.last_valid_index()

In [ ]:
a.iloc[945919]

In [ ]:
a.iloc[:3]

In [ ]:
z.loc[9547507704]

In [ ]:
z.iloc[945918]

In [ ]:
pd.show_versions()

In [ ]:
a.loc[5, ['DateApproved', 'ProcessingMethod']]

In [ ]:
a.iloc[5, [1,3]]

In [ ]:
!uptime

In [ ]:
a.iloc[range(0,2),[1,2,4]]

In [ ]:
a.loc[range(0,2), ['DateApproved', 'SBAOfficeCode', 'BorrowerName']]

In [ ]:
a.iloc[1:3,:]

In [ ]:
a.iloc[0:2]

In [ ]:
a.groupby('BorrowerState')['DateApproved'].count()

In [ ]:
a['BorrowerState'].describe()

In [ ]:
a['BorrowerState'].unique()

In [ ]:
a.iloc[a['BorrowerState' == 'TX']]

In [ ]:
a.tail(1)

In [ ]:
z.tail(1)

In [ ]:
a.iloc[-1]

In [ ]:
a.loc[1,'DateApproved']

In [ ]:
a.groupby('BorrowerZip')['BorrowerName'].count()

In [ ]:
a.groupby('BorrowerZip')['BorrowerName'].nunique()

In [ ]:
a.groupby('BorrowerZip').nunique()

In [ ]:
a.T.head()

In [ ]:
b.count()

In [ ]:
900000 - 899872

In [ ]:
b_missing_dropped = b.dropna()

In [ ]:
b.shape

In [ ]:
b_missing_dropped.shape

In [ ]:
a.describe()

In [ ]:
!uptime