In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

Above from https://data.sba.gov/dataset/ppp-foia/resource/6b62a44b-69ec-436a-9b95-0ea550475543

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
%matplotlib inline

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/6b62a44b-69ec-436a-9b95-0ea550475543/download/public_150k_plus.csv

In [ ]:
!ls -alt

In [ ]:
df_all_high_SBA = pd.read_csv('public_150k_plus.csv')

In [ ]:
a = df_all_high_SBA

In [ ]:
len(a)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/3d28c417-5170-4f1f-be31-b0c7b0182501/download/public_up_to_150k_1.csv

In [ ]:
df_below_150_1_SBA = pd.read_csv('public_up_to_150k_1.csv')

In [ ]:
b = df_below_150_1_SBA

In [ ]:
len(b)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/4a2529a5-08ce-436d-a448-465ca82eadaf/download/public_up_to_150k_2.csv

In [ ]:
#df_below_150_2_SBA = pd.read_csv('public_up_to_150k_2.csv')

In [ ]:
c = df_below_150_2_SBA

In [ ]:
len(c)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/ffd0bdb7-cc41-4adb-9762-8957d61c1862/download/public_up_to_150k_3.csv

In [ ]:
df_below_150_3_SBA = pd.read_csv('public_up_to_150k_3.csv')

In [ ]:
d = df_below_150_3_SBA

In [ ]:
len(d)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/864cd9cb-7797-42da-b991-68ac24fcab9a/download/public_up_to_150k_4.csv

In [ ]:
df_below_150_4_SBA = pd.read_csv('public_up_to_150k_4.csv')

In [ ]:
e = df_below_150_4_SBA

In [ ]:
len(e)

In [ ]:
!df -k

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/3032cb97-3a22-4ded-a0ca-69bdf54cdc32/download/public_up_to_150k_5.csv

In [ ]:
df_below_150_5_SBA = pd.read_csv('public_up_to_150k_5.csv')

In [ ]:
f = df_below_150_5_SBA

In [ ]:
len(f)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/8fd56c55-8ad6-491e-a219-441c50471e4d/download/public_up_to_150k_6.csv

In [ ]:
df_below_150_6_SBA = pd.read_csv('public_up_to_150k_6.csv')

In [ ]:
g = df_below_150_6_SBA

In [ ]:
len(g)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/7fd17fde-42a9-4a5a-8be9-dfbc6703e5f3/download/public_up_to_150k_7.csv

In [ ]:
df_below_150_7_SBA = pd.read_csv('public_up_to_150k_7.csv')

In [ ]:
h = df_below_150_7_SBA

In [ ]:
len(h)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/c0c87f18-333a-43e8-843e-7c1e27b18317/download/public_up_to_150k_8.csv

In [ ]:
df_below_150_8_SBA = pd.read_csv('public_up_to_150k_8.csv')

In [ ]:
i = df_below_150_8_SBA

In [ ]:
len(i)

In [ ]:
#!wget https://data.sba.gov/dataset/8aa276e2-6cab-4f86-aca4-a7dde42adf24/resource/88d9f6f7-b471-4f5b-ae3e-7b9d7b394ad2/download/public_up_to_150k_9.csv

In [ ]:
df_below_150_9_SBA = pd.read_csv('public_up_to_150k_9.csv')

In [ ]:
j = df_below_150_9_SBA

In [ ]:
len(j)

In [ ]:
!df -k

In [ ]:
!ls -alt

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
result = a.append([b])

In [ ]:
len(result)

In [ ]:
print(a.shape)

In [ ]:
print(result.shape)

In [ ]:
a.info()

In [ ]:
result.info()

In [ ]:
a.columns

In [ ]:
a.dtypes

In [ ]:
a.info()

In [ ]:
a['CD']

In [ ]:
a['CD'].iloc[6]

In [ ]:
a.head()

In [ ]:
a

In [ ]:
z = pd.read_csv('public_150k_plus.csv', index_col='LoanNumber')

In [ ]:
z

In [ ]:
z.dtypes

In [ ]:
z.head()

In [ ]:
z.tail(11)

In [ ]:
z.columns

In [ ]:
a.columns

In [ ]:
z.index

In [ ]:
a.index

In [ ]:
a.describe()

In [ ]:
z.describe()

In [ ]:
a[:5]

In [ ]:
z[0:5]

In [ ]:
z.head()

In [ ]:
a

In [ ]:
a[a.BorrowerState == 'TX'].count()

In [ ]:
a.loc[791524]

In [ ]:
a.iloc[791524,2]

In [ ]:
a[a.BorrowerAddress == '3400 N. Central Expressway Suite 110-243']

In [ ]:
a[a.BorrowerName == r'SWH MIMIS CAFE LLC']

In [ ]:
a.loc[791578]

In [ ]:
a.shape

In [ ]:
a.columns

In [ ]:
a.count()

In [ ]:
a.BorrowerZip.describe()

In [ ]:
a.last_valid_index()

In [ ]:
z.last_valid_index()

In [ ]:
a.iloc[945919]

In [ ]:
a.iloc[:3]

In [ ]:
z.loc[9547507704]

In [ ]:
z.iloc[945918]

In [ ]:
pd.show_versions()

In [ ]:
a.loc[5, ['DateApproved', 'ProcessingMethod']]

In [ ]:
a.iloc[5, [1,3]]

In [ ]:
!uptime

In [ ]:
a.iloc[range(0,2),[1,2,4]]

In [ ]:
a.loc[range(0,2), ['DateApproved', 'SBAOfficeCode', 'BorrowerName']]

In [ ]:
a.iloc[1:3,:]

In [ ]:
a.iloc[0:2]

In [ ]:
a.groupby('BorrowerState')['DateApproved'].count()

In [ ]:
a['BorrowerState'].describe()

In [ ]:
a['BorrowerState'].unique()

In [ ]:
a.iloc[a['BorrowerState' == 'TX']]

In [73]:
a.tail(1)

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
945919,9184687004,04/09/2020,897,PPP,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025-0550,NaN,...,NaN,NaN,Subchapter S Corporation,77193,Bank of Jackson Hole,JACKSON,WY,Unanswered,Unanswered,NaN

In [74]:
z.tail(1)

,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
LoanNumber,,,,,,,,,,,,,,,,,,,,,
9184687004,04/09/2020,897,PPP,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025-0550,NaN,Exemption 4,...,NaN,NaN,Subchapter S Corporation,77193,Bank of Jackson Hole,JACKSON,WY,Unanswered,Unanswered,NaN

In [75]:
a.iloc[-1]

LoanNumber                                            9184687004
DateApproved                                          04/09/2020
SBAOfficeCode                                                897
ProcessingMethod                                             PPP
BorrowerName                       S & S JOHNSON ENTERPRISES INC
BorrowerAddress                             7342 Granite Loop Rd
BorrowerCity                                       TETON VILLAGE
BorrowerState                                                 WY
BorrowerZip                                           83025-0550
LoanStatusDate                                               NaN
LoanStatus                                           Exemption 4
Term                                                          24
SBAGuarantyPercentage                                        100
InitialApprovalAmount                                   150000.0
CurrentApprovalAmount                                   150000.0
UndisbursedAmount                                            0.0
FranchiseName                                                NaN
ServicingLenderLocationID                                  77193
ServicingLenderName                         Bank of Jackson Hole
ServicingLenderAddress                            990 W Broadway
ServicingLenderCity                                      JACKSON
ServicingLenderState                                          WY
ServicingLenderZip                                         83001
RuralUrbanIndicator                                            R
HubzoneIndicator                                               N
LMIIndicator                                                   N
BusinessAgeDescription         Existing or more than 2 years old
ProjectCity                                        TETON VILLAGE
ProjectCountyName                                          TETON
ProjectState                                                  WY
ProjectZip                                            83025-0550
CD                                                           WY-
JobsReported                                                11.0
NAICSCode                                               722511.0
Race                                                  Unanswered
Ethnicity                                      Unknown/NotStated
UTILITIES_PROCEED                                            NaN
PAYROLL_PROCEED                                         150000.0
MORTGAGE_INTEREST_PROCEED                                    NaN
RENT_PROCEED                                                 NaN
REFINANCE_EIDL_PROCEED                                       NaN
HEALTH_CARE_PROCEED                                          NaN
DEBT_INTEREST_PROCEED                                        NaN
BusinessType                            Subchapter S Corporation
OriginatingLenderLocationID                                77193
OriginatingLender                           Bank of Jackson Hole
OriginatingLenderCity                                    JACKSON
OriginatingLenderState                                        WY
Gender                                                Unanswered
Veteran                                               Unanswered
NonProfit                                                    NaN
Name: 945919, dtype: object

In [88]:
a.loc[1,'DateApproved']

'05/01/2020'

In [93]:
a.groupby('BorrowerZip')['BorrowerName'].count()

BorrowerZip
00256          1
00601          2
00602         16
00603         25
00603-9161     2
              ..
99925          2
99925-0116     1
99926-0359     1
99929          1
99929-2345     1
Name: BorrowerName, Length: 509522, dtype: int64

In [94]:
a.groupby('BorrowerZip')['BorrowerName'].nunique()

BorrowerZip
00256          1
00601          2
00602         15
00603         24
00603-9161     2
              ..
99925          2
99925-0116     1
99926-0359     1
99929          1
99929-2345     1
Name: BorrowerName, Length: 509522, dtype: int64

In [95]:
a.groupby('BorrowerZip').nunique()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,LoanStatusDate,LoanStatus,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
BorrowerZip,,,,,,,,,,,,,,,,,,,,,
00256,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,0
00601,2,2,1,2,2,2,1,1,1,2,...,1,0,1,1,1,1,1,1,1,0
00602,16,13,1,2,15,16,2,1,6,3,...,0,1,1,2,2,2,1,3,2,0
00603,25,14,1,2,24,25,3,1,6,3,...,0,0,4,2,2,2,1,2,3,1
00603-9161,2,1,1,1,2,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99925,2,2,1,2,2,2,2,1,1,2,...,0,0,2,2,2,2,2,2,1,0
99925-0116,1,1,1,1,1,1,1,1,0,1,...,0,0,1,1,1,1,1,1,1,0
99926-0359,1,1,1,1,1,1,1,1,0,1,...,0,1,1,1,1,1,1,1,1,1
99929,1,1,1,1,1,1,1,1,0,1,...,0,0,1,1,1,1,1,1,1,0
99929-2345,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,0

In [96]:
a.T.head()

,0,1,2,3,4,5,6,7,8,9,...,945910,945911,945912,945913,945914,945915,945916,945917,945918,945919
LoanNumber,9547507704,9777677704,5791407702,6223567700,9662437702,9774337701,9794577700,9722187702,9725917702,9666867710,...,1177298301,1641268700,2193718301,2423908306,2665238309,4395967002,6985647108,7996438405,9054647103,9184687004
DateApproved,05/01/2020,05/01/2020,05/01/2020,05/01/2020,05/01/2020,05/01/2020,05/01/2020,05/01/2020,05/01/2020,05/01/2020,...,01/16/2021,03/27/2021,01/20/2021,01/20/2021,01/21/2021,04/03/2020,04/14/2020,02/12/2021,04/15/2020,04/09/2020
SBAOfficeCode,464,464,1013,920,101,101,491,101,101,101,...,897,897,897,897,897,897,897,897,897,897
ProcessingMethod,PPP,PPP,PPP,PPP,PPP,PPP,PPP,PPP,PPP,PPP,...,PPS,PPP,PPS,PPS,PPS,PPP,PPP,PPS,PPP,PPP
BorrowerName,"SUMTER COATINGS, INC.","PLEASANT PLACES, INC.",BOYER CHILDREN'S CLINIC,KIRTLEY CONSTRUCTION INC,AERO BOX LLC,HUDSON EXTRUSIONS INC.,FRUIT COVE BAPTIST CHURCH OF JACKSONVILLE FL INC,MIAMITOWN AUTO PARTS AND RECYCLING INC,POPPYCOCKS INC,CHURCH SQUARE PHARMACY INC,...,"ROY E PAULSON, JR., P.C.",THERMAL TECHNOLOGY SERVICES LLC,BASIC BEGINNINGS INC,BSI SERVICES INC,RHOADES DENTAL P.C.,"ROY E PAULSON, JR., P.C.","SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...",ELECTRICAL SYSTEMS OF WYOMING INC,EDEN LIFE CARE,S & S JOHNSON ENTERPRISES INC

In [97]:
b.count()

LoanNumber                     900000
DateApproved                   900000
SBAOfficeCode                  899992
ProcessingMethod               900000
BorrowerName                   899997
BorrowerAddress                899870
BorrowerCity                   899870
BorrowerState                  899864
BorrowerZip                    899872
LoanStatusDate                 251987
LoanStatus                     900000
Term                           900000
SBAGuarantyPercentage          900000
InitialApprovalAmount          900000
CurrentApprovalAmount          900000
UndisbursedAmount              899462
FranchiseName                   14508
ServicingLenderLocationID      899992
ServicingLenderName            899992
ServicingLenderAddress         899992
ServicingLenderCity            899992
ServicingLenderState           899992
ServicingLenderZip             899992
RuralUrbanIndicator            900000
HubzoneIndicator               900000
LMIIndicator                   899999
BusinessAgeDescription         900000
ProjectCity                    899868
ProjectCountyName              899786
ProjectState                   899885
ProjectZip                     899870
CD                             899798
JobsReported                   900000
NAICSCode                      882350
Race                           900000
Ethnicity                      900000
UTILITIES_PROCEED              270781
PAYROLL_PROCEED                898882
MORTGAGE_INTEREST_PROCEED       23194
RENT_PROCEED                    57787
REFINANCE_EIDL_PROCEED          10658
HEALTH_CARE_PROCEED             22293
DEBT_INTEREST_PROCEED           13872
BusinessType                   899803
OriginatingLenderLocationID    899992
OriginatingLender              899992
OriginatingLenderCity          899992
OriginatingLenderState         899992
Gender                         900000
Veteran                        900000
NonProfit                       20756
dtype: int64

In [98]:
900000 - 899872

128

In [99]:
b_missing_dropped = b.dropna()

In [102]:
b.shape

(900000, 51)

In [103]:
b_missing_dropped.shape

(0, 51)

In [104]:
a.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID
count,9.459200e+05,945920.000000,945920.000000,945920.0,9.459200e+05,9.459200e+05,9.450740e+05,945920.000000,945919.000000,939273.000000,3.247410e+05,9.440930e+05,4.649300e+04,9.966500e+04,2.327000e+04,5.758100e+04,3.199300e+04,945920.000000
mean,5.423559e+09,571.706436,35.705829,100.0,5.318829e+05,5.302417e+05,2.946130e+04,109083.040470,51.795458,511408.020275,1.561303e+04,5.141111e+05,4.784875e+04,5.613811e+04,6.796852e+03,4.675724e+04,1.423753e+04,108780.062155
std,2.553008e+09,262.825855,16.863922,0.0,7.419365e+05,7.354173e+05,1.753747e+05,134597.099364,67.383287,181018.322440,8.678965e+04,7.108952e+05,1.586303e+05,1.113372e+05,6.160987e+04,1.028171e+05,5.526985e+04,136188.947435
min,1.000007e+09,101.000000,19.000000,100.0,0.000000e+00,1.500000e+05,0.000000e+00,20.000000,0.000000,111110.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000
25%,3.260973e+09,373.000000,24.000000,100.0,2.001040e+05,2.003130e+05,0.000000e+00,29805.000000,18.000000,336612.000000,1.000000e+00,1.954000e+05,0.000000e+00,1.350000e+04,0.000000e+00,8.000000e+03,0.000000e+00,29805.000000
50%,5.398237e+09,515.000000,24.000000,100.0,2.950750e+05,2.950000e+05,0.000000e+00,57328.000000,30.000000,541211.000000,1.000000e+00,2.868000e+05,9.500000e+03,2.880000e+04,0.000000e+00,1.935000e+04,4.000000e+02,56102.000000
75%,7.546181e+09,811.000000,60.000000,100.0,5.400000e+05,5.390000e+05,0.000000e+00,117723.000000,54.000000,622110.000000,5.000000e+03,5.239000e+05,4.000000e+04,5.620000e+04,0.000000e+00,4.397500e+04,9.636000e+03,113190.000000
max,9.999007e+09,1094.000000,60.000000,100.0,1.000000e+07,1.000000e+07,1.000000e+07,532950.000000,500.000000,999990.000000,1.000000e+07,1.000000e+07,1.000000e+07,5.518278e+06,2.951590e+06,3.880000e+06,2.497617e+06,532950.000000

In [106]:
!uptime

 21:54:29 up  1:12,  1 user,  load average: 0.00, 0.02, 0.00